[2018-11-09 19:00] benjaminwood opened #1 "Sign up"
As staff, I want to allow new volunteers & coordinator to sign up in the system, so that we can start the process of background checks and other documentation.

[2018-11-09 19:05] benjaminwood opened #2 "Share Brand colors"
@officemoms1 can you share the brand colors here so we can use them as we start building UI.

[2018-11-09 19:17] officemoms1 commented on #2
Gray - #404040
Teal - #2FCFD9
Purple - #881FBF

[2018-11-09 19:20] officemoms1 commented on #2
![screen shot 2018-11-09 at 11 19 31 am](https://user-images.githubusercontent.com/43186440/48283478-78610000-e411-11e8-9906-5b779cdbefe1.png)
Sign Up Button in the top right hand corner

[2018-11-10 21:33] benjaminwood commented on #2
Great, thanks @officemoms1!

[2018-11-10 21:48] benjaminwood opened #3 "Update username"
@officemoms1 would you consider changing your username here on github?

Maybe `sarah_desjarlais` or `sarah_d` if it is available. It's not a big deal, but when using the `@` mention feature, assigning issues, etc, it's nice to use and individual's name vs something generic. Note, this will **not** change the organization name which will remain `OfficeMomsandDads`.

If you're up for it, go here: ht

[2018-11-11 06:31] benjaminwood commented on #1
:tada: I've implemented the nuts and bolts of (generic) user registration and sign-in. Nothing regarding the specifics of staff, volunteers, or coordinators has been implemented yet. But this is the basis for building those roles in the system.

I've deployed the app to heroku which is a web-application hosting platform that offers limit usage for free. You can try it now at: https://omd-scheduler

[2018-11-13 21:02] SarahOMD commented on #3
My username is now SarahOMD …. All variations of Sarah D were taken :-)

Sarah Desjarlais
Executive Director

www.officemomsanddads.com <http://www.officemomsanddads.com/>360-771-9358

The information contained in this E-mail may be confidential and/or proprietary to Office Moms & Dads and/or its affiliates. The information transmitted herewith is intended only for use by the individual or entity

[2018-11-13 21:12] benjaminwood commented on #3
Cool, well done!

[2018-11-13 21:12] #3 closed

[2018-11-18 21:20] benjaminwood opened #6 "User invitations"
As staff, I want to invite other staff and social workers, so that they can use the system.

[2018-11-18 21:25] benjaminwood opened #7 "Volunteer schedule preferences"
As a volunteer, I want to put in my own availability/blockout dates, so I don’t get requests for dates I cannot volunteer.

[2018-11-18 21:48] benjaminwood commented on #7
@SarahOMD I think we should model this after Planning Center Services blockout dates. https://pcoservices.zendesk.com/hc/en-us/articles/360002035974

What do you think? Any concerns with this approach?

I presume you have access to Services on Union Chapels account. I no longer have access to services, so I've created a new account/church to experiment and observe behavior. Let me know if you'd li

[2018-11-18 21:51] benjaminwood commented on #6
@SarahOMD regarding who invites who, I imagine it working this way:

1. Staff can invite anyone

[2018-11-18 21:57] benjaminwood opened #8 "Record volunteer race & spoken language"
As a social worker, I want to know what race and/or culture  the volunteers identify as, as well as spoken language, so we can find the best possible match with the kids entering care.

[2018-11-18 21:59] benjaminwood opened #9 "Allow volunteers to specify child age ranges"
As a volunteer, I want to set my preference regarding the age range of kids I work with, so that I can have a more positive experience.

[2018-11-18 22:13] nvick commented on #7
This was my thinking as well.

[2018-11-18 22:13] benjaminwood opened #10 "Organizational structure"
@SarahOMD I believe we've identified the following as the organizational structure in our previous discussions. Can you confirm this is correct?

1. State
1. County
1. Office

Also: coordinators & volunteers can be associated with multiple offices, correct? Can social workers?

My feeling is that at least one office assignment should be required at the time that the user is invited, vs waiting for

[2018-11-23 21:36] SarahOMD commented on #1
Yes to all of that.  The only thing I would change is to name the Coordinator "Volunteer Coordinator".  It's what we use internally, and we need to stay consistent!  I'm attaching our Volunteer Agreement/Registration Packet so you can see what sorts of questions we ask up front.
[Amended-Vol Agmt Packet Instructions.pdf](https://github.com/OfficeMomsandDads/scheduler/files/2611760/Amended-Vol.Agmt

[2018-11-23 21:42] SarahOMD commented on #6
Correct!

[2018-11-23 21:43] SarahOMD commented on #7
Me too!  I even love the pithy "excuses" it auto-generates when a user blocks out dates ;-)

[2018-11-23 21:50] SarahOMD commented on #8
I'm picturing a drop down menu for race/ethnicity featuring the most common 20 (or so).  For the language, I'm picturing either a drop down or fill-in-the-blank for "first language" and "second language".

[2018-11-23 21:52] SarahOMD commented on #9
Age ranges should be 0-2, 3-5, 6-9, 10-12,  and Teen.  Users should be able to select as many as they'd like.

[2018-11-23 21:58] SarahOMD commented on #10
@benjaminwood Let's add "Region" to that list, under State.  That's not a mandatory field, but Idaho references regions a lot, so I'd like to have it available.

Correct.  VC's and Volunteers can be associated with multiple offices, but social workers are not.

Yes, an office assignment should be a required field.

[2018-11-26 00:02] benjaminwood commented on #10
Cool, thanks for following up.

How would region be used? I'm not against it, but adding an optional component that not all states have adds complexity to the system. So, we want to ensure that it has a specific use-case and that if we go ahead with implementing it, we implement it the right way for that use-case.

[2018-11-26 00:15] benjaminwood commented on #8
Cool, thanks!

We'll choose drop-downs with pre-defined options whenever possible for the sake of data normalization. This is important/useful when it comes to reporting as allowing users to enter information fill-in-the-blank style often results in duplicates with various kinds of misspellings or uses of punctuation, etc.

Let's establish what those 20 (or so) most common ethnicities are and then

[2018-11-26 00:15] benjaminwood commented on #7
Nice, would be fun to work that feature in. :smile:

[2018-11-27 18:34] benjaminwood commented on #10
@SarahOMD can you provide a list of regions for Washington & Idaho to get us started?

[2018-11-27 19:03] benjaminwood commented on #1
Thanks! Per our phone conversation today we're planning to collect the first page of basic information from the user when they accept the invite. From there they will be 'pending activation' until OMD staff/volunteer coordinators walk them through the rest of the registration process (signing forms, etc).

[2018-11-27 19:04] benjaminwood commented on #8
Per our phone conversation today we will go with a drop-down list of most common options in both cases.

@SarahOMD can you provide a list for each?

[2018-11-27 19:17] benjaminwood commented on #6
@SarahOMD I've invited you to the app as an admin. You should have received an email to set your password. Once you're in you can test the invite workflow for yourself. Let me know if you have any questions or if you run into any problems.

Also remember you can access the admin section at `/admin`. So, the URL would be http://omd-scheduler.herokuapp.com/admin

[2018-12-02 22:14] benjaminwood commented on #6
Okay, I've got the permissions stuff implemented. I've also changed 'Coordinator' to 'Volunteer Coordinator'.

The basic invitation flow is complete and this issue has overlapping responsibility with #1. So, I'm going to close this one and track profile configuration as part of #1.

[2018-12-02 22:14] #6 closed

[2018-12-13 21:22] SarahOMD commented on #8
Top 25 Spoken Languages in Washington State (per https://statisticalatlas.com/state/Washington/Languages)
Spanish
Mandarine
Cantonese
Vietnamese
Russian
Tagalog
Filipino
Korean
Amharic
Somali
Austronesian
Ilocano
Samoan
Hawaiian
German
Ukrainian
Romanian
Japanese
Hindi
French
Khmer
Arabic
Punjabi
Thai
Lao

[2018-12-13 21:34] SarahOMD commented on #8
The racial thing was harder to google.  Feel free to give input!

White/Caucasian
Black/African American
Hispanic
Asian
Native Hawaiian/Pacific Islander
Eastern European
Indian
American Indian/Alaska Native

[2018-12-13 22:04] SarahOMD commented on #10
See attached document for a list of child welfare offices per region, per state:
[Office Titles by Regions (WA and ID).docx](https://github.com/OfficeMomsandDads/scheduler/files/2677909/Office.Titles.by.Regions.WA.and.ID.docx)

[2019-01-06 01:09] benjaminwood opened #17 "Background checks"
As a volunteer I want to complete my background check online so that I can save time/paperwork.

https://fortress.wa.gov/dshs/bcs/

11/13/18 UPDATE: I am told this link now works for background checks!

[2019-01-06 01:13] benjaminwood commented on #17
@SarahOMD I see it says in the instructions:

Are you familiar with this process? How do you envision the app's involvement in this process?

I think this will still be a post MVP feature, but I wanted to open this up for discussion so we can be ready when the time comes.

[2019-01-06 01:15] benjaminwood opened #18 "Volunteer scheduling"
As a social worker or volunteer coordinator, I want to manage needs.

- [x] I want to create new needs for my office up to two weeks in advance. I will provide relevant information including, day/time, duration, and the age range(s) of the kids as well as the language spoken.
- [x] I want needs to be to be automatically split into 1 hour `shifts`.
- [x] I want to manage the needs I have created, i

[2019-01-06 01:16] benjaminwood opened #19 "Volunteer shift accept/reject"
As a volunteer, I want to receive notification when a new need is created, so that I can respond.

- [x] I want to receive a text message with basic information about the need and a link to the need.
- [x] I want to receive a text message confirmation which includes date details about a shift I have accepted.
- [x] I want to see the status of the shifts (open/closed)
- [x] I want to receive a text

[2019-01-06 04:09] #1 closed

[2019-01-06 05:40] benjaminwood commented on #8
Great, thanks @SarahOMD.

Some development notes:

- [ ] Add primary & secondary language to User and add it to the signup form as required fields (but not for social workers)
- [ ] Add race to User and add it to the signup form as a required field (but not for social workers)

@SarahOMD should we require this information be collected in for both volunteers and volunteer coordinators? Seems like i

[2019-01-06 05:49] benjaminwood commented on #9
Development notes:

- [ ] Create new model `AgeRange` with attributes `min` & `max`.
- [ ] Make has and belongs to many association between User and AgeRange
- [ ] Allow Volunteers to select multiple age ranges when signing up and updating their profile
- [ ] Add admin dashboard for AgeRange

Note, if a volunteer has selected no age ranges, we assume they are open to opportunities with children of

[2019-01-06 07:33] benjaminwood commented on #18
@SarahOMD should social workers be able to specify a specific day/time that they need a volunteer? Or, is the typical use-case that they're looking for a volunteer immediately?

Scheduling a volunteer for a later date/time would add some complexity, so current/immediate availability is preferable. Still, we can go either direction, let me know.

[2019-01-07 05:45] benjaminwood commented on #19
@SarahOMD when a volunteer accepts an opportunity, how will other volunteers (who were also notified) know that the need has been filled?

[2019-01-07 05:54] benjaminwood commented on #7
While Planning Center's desktop blackout scheduling tool is very cool, we should keep our first iteration simple and implement something like what their mobile app provides. We'll need a UI more like this for mobile anyway, might as well share a simple interface for both mobile & desktop initially.

![image](https://user-images.githubusercontent.com/1232531/50751064-d4bb8280-11fc-11e9-92b1-2c92c41

[2019-01-07 14:56] benjaminwood opened #20 "Layout/navigation"
Not sure what it should look like yet, lets discuss.

[2019-01-07 17:50] danielpclark opened #22 "Internal calendar schedule logic for the database"
From our discussion I would like to put into writing for further discussion how we might go about implementing the logic of the calendar system in the database.  This is by no means the final say on how it will be done, it is merely to provide clarity and discussion in moving forward.

## Proposal

1) Database logic should be centered around weeks
2) Weeks can be a pattern of all weeks moving forw

[2019-01-07 18:22] kyleboe commented on #20
For posterity, We discussed referencing the planning center design as inspiration for layout/navigation.

[2019-01-07 23:36] #9 closed

[2019-01-07 23:37] benjaminwood commented on #18
From Sarah:

[2019-01-08 00:22] benjaminwood commented on #22
Thanks @danielpclark for sharing this. A few thoughts:

1. One of the requirements is that scheduling must be designed around block-out dates only. This was decided over in #7. We're modeling scheduling after planning center, and they do not include the concept of defining positive availability in addition to negative.
1. We also need the flexibility for volunteers to schedule multiple times per d

[2019-01-08 11:52] danielpclark commented on #22
Thanks @benjaminwood

Looking into rrule I've found the gem by **Square Inc.** called [ruby-rrule](https://github.com/square/ruby-rrule) which is a minimalist library for expanding RRULEs, with a goal of being fully compliant with [iCalendar spec](https://tools.ietf.org/html/rfc2445).

Being
* minimalist
* built by a well known and trusted company
* and adhering strictly to the RFC spec

we may wa

[2019-01-08 15:30] benjaminwood commented on #22
Cool, I hadn't seen ruby-rrule. I like that it is minimalist and that it is from square. It is comparatively very young hand has very few contributors. However, I think it'd be easy to replace with one of the other tools if it turned out to be too immature for our production use. I'm always in favor of choosing the lighter weight tool until it isn't practical.

[2019-01-08 15:33] #2 closed

[2019-01-08 15:33] benjaminwood commented on #22
Let's continue this conversation over on #7.

[2019-01-08 15:33] #22 closed

[2019-01-08 15:41] benjaminwood commented on #7
We're going to use the rrule standard for recurring events (see #22 for more discussion).

1. Rrule specification: https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html
1. Minimalist ruby gem for expanding RRULEs: [ruby-rrule](https://github.com/square/ruby-rrule)
1. javascript library for rrule: https://github.com/jakubroztocil/rrule

* Users will create block-out dates one at a t

[2019-01-08 15:44] benjaminwood commented on #10
This issue is completed, though we still need the Office information from @SarahOMD if we're going to import it.

I'm going to close this out. @SarahOMD you can send us the office information via slack or open a new issue here on github (either way works!).

[2019-01-08 15:44] #10 closed

[2019-01-08 15:56] benjaminwood opened #27 "Reporting"
As an admin/Volunteer Coordinator:

- [x] I want reporting on volunteer hours by:
  - [x] individual
  - [x] office
  - [x] county
  - [x] state

- [x]  I want reporting on how many children are being served by:
  - [x] office
  - [x] county
  - [x] state

- [x] I want reporting on both volunteer & children demographics, so that we can recruit appropriate volunteer pools.

[2019-01-08 16:08] benjaminwood commented on #7
I'm going to start working on this now, starting with the back-end.

[2019-01-09 17:34] SarahOMD commented on #17
I believe this is more for foster parent applicants or child care workers.  They are responsible to get the results of their background checks to their licensor/social worker.  In our case, it would be nice to have the results go directly to the Office Liaison and cut out the middle man (the applicant), but Im not sure that's an option if an applicant chooses this online version.  We could give th

[2019-01-09 23:17] benjaminwood commented on #17
Yeah, it'd be ideal if they offered a way for you to give people a specialized link to the form such that the system is aware of who is requesting and automatically sends them the results when complete. Might be worth asking 'them' about. Whoever they are :-)

[2019-01-19 05:16] benjaminwood opened #39 "Refactor EditBlockoutModal update/delete handlers"
Here https://github.com/OfficeMomsandDads/scheduler/blob/f9ec56a199829488c3716711c7cbda4bf54abe91/app/javascript/components/blockouts/EditBlockoutModal/index.js#L104

And here
https://github.com/OfficeMomsandDads/scheduler/blob/f9ec56a199829488c3716711c7cbda4bf54abe91/app/javascript/components/blockouts/EditBlockoutModal/index.js#L55

Both of these functions are huge and packed with complexity tha

[2019-01-19 05:18] benjaminwood opened #40 "System tests for volunteer blockouts UI"
The blockouts UI is written in react, our plan is to write rails system tests to cover this functionality.

[2019-01-21 21:35] kyleboe opened #45 "Horizontal Logo In Menu Bar"
This is a low priority issue but the logo design doesn't quite work while horizontal.
![omd-horiz-logo](https://user-images.githubusercontent.com/4054771/51499980-39d8b180-1d81-11e9-8a85-4bcc6c87afa2.png)

For now I will bump the logo in the header to 50px height and call it.

[2019-01-23 23:39] kyleboe opened #54 "Make Nice Datepicker for Needs form"
![image](https://user-images.githubusercontent.com/327614/53141962-ff606100-3546-11e9-9796-aecf60e7f4a9.png)
Replace with a React datepicker

[2019-01-28 04:16] benjaminwood commented on #45
I mean, it’s not great, but I’m not sure what else could be done with it short of changing it completely.

Do you have any specific concerns?

[2019-01-29 00:43] kyleboe commented on #45
Got an updated logo back from teresa. Probably gonna run with this one. 👍

![omd-logo-horiz](https://user-images.githubusercontent.com/4054771/51875923-bb998380-231b-11e9-9422-51bbf291f3ea.png)

[2019-01-29 00:43] kyleboe commented on #45
forgot about normal github theme 😅
![image](https://user-images.githubusercontent.com/4054771/51875960-dc61d900-231b-11e9-8147-2ff05536365d.png)

[2019-01-29 18:02] nvick commented on #45
I'm going to close this for now and we can revisit if needed.

[2019-01-29 18:02] #45 closed

[2019-01-30 17:21] kyleboe opened #55 "Update DB Seeds"
Update DB seeds for future devs and allow everything to be valid on dev env init.

[2019-02-04 18:09] kyleboe commented on #18
@SarahOMD Currently, the way the system is built, the age range, preferred culture, preferred language, and number of children can be updated after a need has been created. When those need attributes are changed, do we want to re-notify the relevant volunteers of that change?

[2019-02-04 23:18] kyleboe commented on #20
Last item on the punchlist is mobile nav stuffs. Everything else is pretty much done.

[2019-02-04 23:33] kyleboe commented on #18
For posterity, we talked on the call today and *no* we don't want to re-notify volunteers about an update to a need if they have already been notified.

[2019-02-04 23:42] kyleboe commented on #7
This seems to be all taken care of and in master. Closing for now.

[2019-02-04 23:42] #7 closed

[2019-02-04 23:44] kyleboe commented on #8
This is fully implemented. Closing 👍

[2019-02-04 23:44] #8 closed

[2019-02-04 23:45] #18 closed

[2019-02-08 23:08] benjaminwood opened #59 "Blockout calendar UI problem"
At desktop size, the date picker for the 'until' recurrence option is off screen.

![image](https://user-images.githubusercontent.com/1232531/52511079-5e22f380-2bb3-11e9-9c42-ac61cdd33de9.png)

[2019-02-08 23:12] benjaminwood commented on #59
Maybe not the best option but we could consider setting overflow: visible on .blockout-modal-content

![image](https://user-images.githubusercontent.com/1232531/52511205-d38ec400-2bb3-11e9-9dd6-bb4eb02e6898.png)

[2019-02-08 23:24] nshoes commented on #59
Can the calendar just render to the right of the input?

[2019-02-08 23:28] benjaminwood commented on #59
Yes, but we have to conditionally move it depending on responsive layout. I think this broken when @kyleboe fixed it on mobile.

[2019-02-12 00:31] kyleboe commented on #20
Mobile nav is resolved and when #65 is merged we can close this issue out.

[2019-02-12 00:33] kyleboe commented on #55
Resolved with #61

[2019-02-12 00:33] #55 closed

[2019-02-12 17:24] #20 closed

[2019-02-12 18:30] kyleboe commented on #59
Resolved with #64

[2019-02-12 18:30] #59 closed

[2019-02-12 19:08] kyleboe commented on #27
If we want to have graphs in the web app we could look at this tool https://www.reportskit.co/

[2019-02-12 19:14] kyleboe commented on #27
Starting writing the queries to meet the spec. We can figure out how we want the data they produce to be output later.

[2019-02-20 22:30] nvick opened #66 "Needs list table on Mobile"
![png image](https://user-images.githubusercontent.com/327614/53129297-0e7de980-351c-11e9-9400-8a943668df82.png)

[2019-02-20 22:31] nvick opened #67 "Back to app link from Admin"
Currently when an admin goes to the admin pages there is no link back to app.

![image](https://user-images.githubusercontent.com/327614/53141120-d68a9c80-3543-11e9-80da-fa0f9d2ea42c.png)

[2019-02-20 22:32] nvick opened #68 "Allow override of office address validation"
Currently, if SmartyStreets comes back with an error the office cannot be created. We need to allow this to be overridden by admins to allow creation without SmartyStreets geocoding.

[2019-02-20 22:33] nvick opened #69 "Don't allow shifts to be created in the past"
![image](https://user-images.githubusercontent.com/327614/53140295-19974080-3541-11e9-8709-566f1aa3d9db.png)
The `Add Shifts Before` should be disabled when the first shift is at or in the past of the current time.

[2019-02-20 22:34] nvick opened #70 "Button styles in manage blockouts modal"
![image](https://user-images.githubusercontent.com/1232531/53131006-86e6a980-3520-11e9-974d-7ace055dc89f.png)

[2019-02-20 22:51] benjaminwood opened #71 "Preferred Language should be English (not none)"
@SarahOMD this is something you mentioned in our meeting today. However, I'm having second thoughts about this. When no preferred language is selected for a need (shown as 'none' below), notifications will be sent to all volunteers regardless of their spoken language. If it defaults to English, only English speaking volunteers will be notified.

So the question is, do you want to have the option o

[2019-02-20 22:58] benjaminwood opened #72 "Better need duration UX"
We store need duration in minutes, however the need form should should display duration in hours. A dropdown for hours and a dropdown for minutes (in 15 minute increments) may be the simplest way to accomplish this. Of course, we'll have to translate that to minutes server side.

Alternatively we could use JS client side to translate into minutes.

![image](https://user-images.githubusercontent.co

[2019-02-21 21:24] SarahOMD commented on #71
Or could we just change the word "none" to "not specified"?

[2019-02-21 21:25] benjaminwood commented on #71
Yes!

[2019-02-25 14:16] nvick opened #75 "Add Honeybadger"

[2019-02-25 21:30] SarahOMD opened #76 "Add Children Age Ranges to details"
Comment from Darcy...
The need details do not show the age ranges of kids.
![image](https://user-images.githubusercontent.com/43186440/53370015-6c864480-3901-11e9-9349-f47e33a03836.png)

[2019-02-25 21:30] SarahOMD opened #77 "Inconsistencies with adjusting shift requests"
Comment from Darcy...
This original request was for 2:00, then I added an earlier shift. I can manage the 1:00 hour, but the "Need" in gray-scale and "Start Time" in Details still show 2:00. Suggest that those areas change to match changed request.
Also, the details do not show the ages of kids.
![image](https://user-images.githubusercontent.com/43186440/53370015-6c864480-3901-11e9-9349-f47e33a038

[2019-02-25 21:31] SarahOMD opened #78 "New User, Phone Number"
Comment from Darcy...
does phone number format matter? I did not receive any text messages from the site, even with 3 admin/volunteers having my number for the testing. (And I know my number will text to itself!) This is hindering my ability to robustly test some of the functionality.

[2019-02-25 21:32] SarahOMD opened #79 "New User (all)"
-- could required information be marked with an asterisk, or could we add statement to say, "all info is required"?

[2019-02-25 21:33] SarahOMD opened #80 "Block-out Dates"
-- tried to set 3/28-4/7, but program only accepted 3/28-31; I had to go back and add 4/1-7.

[2019-02-25 21:34] SarahOMD opened #81 "Ages of kids required"
We'd like it to be a required field to enter the age ranges of the kids when submitting a request.

[2019-02-25 21:36] nvick commented on #78
I’m looking into message sending on the staging server. It currently works in development but not on the server. I’ll update here when I have more info.

[2019-02-25 23:08] nvick commented on #78
@SarahOMD this should now be working. I created a new need and assigned Darcy to a shift after I fixed the issue.

[2019-02-27 06:11] benjaminwood commented on #78
@SarahOMD I'm going to close this issue now. Feel free to re-open or open a new issue if any other messaging problems arise.

[2019-02-27 06:11] #78 closed

[2019-02-27 06:22] benjaminwood commented on #71
This has been fixed!

[2019-02-27 06:22] #71 closed

[2019-02-27 07:08] benjaminwood opened #83 "Allow users to edit profile attributes"
Attributes set when a user (eg: volunteer) is accepting their invite should also be shown in `users/edit`.

[2019-02-27 07:18] benjaminwood commented on #66
A bit better now:

![image](https://user-images.githubusercontent.com/1232531/53472540-b7e14580-3a1c-11e9-91c1-fcd637d53e6e.png)

[2019-02-27 13:57] #75 closed

[2019-02-27 14:04] #66 closed

[2019-02-27 14:04] #70 closed

[2019-02-27 14:04] #80 closed

[2019-02-27 14:08] nvick commented on #19
@kyleboe when you have a moment will you look at the task list above to and if it is done close out this issue.

[2019-02-27 14:48] benjaminwood commented on #70
This has been resolved!

[2019-02-27 14:48] benjaminwood commented on #80
This has been fixed!

[2019-02-27 18:28] benjaminwood opened #85 "[OMD Scheduler/production] Twilio::REST::RestError: [HTTP 400] 21604 : Unable to create record A 'To' phone number is required. https://www.twilio.com/docs/errors/21604"
## Backtrace

    line 7 of [PROJECT_ROOT]/app/workers/send_text_message_worker.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/46273348)

[2019-02-27 18:31] benjaminwood commented on #85
I had a feeling this error would pop up. I removed a line of code that was preventing it before:

https://github.com/OfficeMomsandDads/scheduler/pull/60/commits/a411edb4be2c7642f90ca638c1f9a9412fd488ea

We should fix upstream, so that the job is not enqueued unless a number is present.

[2019-02-27 19:30] SarahOMD opened #86 "Allow Social Workers and Volunteer Coordinators to invite users"
Hey guys!  Darcy is reporting that she can create a need but not a user.  Are you guys working on the back end that may have messed it up?

[2019-02-27 19:40] nvick commented on #86
@SarahOMD If there was an error when she tried to create a user account could you get a screenshot from her? Was she logged in with her admin or her social worker account?

[2019-02-28 01:37] nvick commented on #86
Before implementing scheduling we had a link that would allow Social Workers and Volunteer Coordinators invite people to the app. This link was never re-implemented after Needs scheduling was finished.

[2019-02-28 18:36] nvick opened #87 "Correct Authorized Spelling"
![image](https://user-images.githubusercontent.com/327614/53589595-a2ffd180-3b44-11e9-8536-7c2e2a6012f0.png)

[2019-02-28 18:38] nvick opened #88 "Speed Up Date Data entry"
On Users page, the "Birthdate" and "Resident Since" blocks are slow to complete because of the calendar function. Doesn't appear to allow typing in a date. Could this be changed to allow either a 6- or 8-digit date typed, or to move through the calendar by years?

[2019-03-01 09:27] habibalamin commented on #86
A friend and I would like to tackle this issue.

We spent about an hour setting up the project yesterday during our .02̅% time, which we successfully got running (`docker-compose` failed at first, since I was using `docker-machine`, instead of Docker CE, which handles mounts and networking so everything behaves as if it's local; perhaps the `README` should be updated to stress how important it is

[2019-03-01 20:25] dinjas commented on #79
@SarahOMD Is this in reference to the page for inviting a new user:

<img width="1258" alt="screen shot 2019-03-01 at 12 24 15 pm" src="https://user-images.githubusercontent.com/15596/53664310-03fad880-3c1d-11e9-9165-09f6c4a4b6e2.png">

Or this page, where the user accepts the invitation and creates their account?

<img width="1238" alt="screen shot 2019-03-01 at 12 24 02 pm" src="https://user-ima

[2019-03-01 20:26] dinjas opened #93 "Add "English" to language seed data"
It's currently missing.

[2019-03-01 21:22] SarahOMD commented on #79
Thanks for the question!  I believe it was for the page where the user creates a new account.

[2019-03-01 21:26] dinjas commented on #79
Excellent, thank you!

[2019-03-01 23:34] dinjas commented on #83
Might be worth waiting on this one until #79 is addressed. I imagine there's a lot of code that could be shared between the views for `devise/invitations#edit` and `devise/registrations#edit`.

[2019-03-02 18:39] #76 closed

[2019-03-02 18:40] benjaminwood commented on #76
@SarahOMD this has been resolved!

[2019-03-02 18:40] benjaminwood commented on #81
Age range is now required!

[2019-03-02 18:40] #81 closed

[2019-03-02 18:40] #87 closed

[2019-03-02 18:42] #69 closed

[2019-03-02 18:42] benjaminwood commented on #77
This has been resolved!

[2019-03-02 18:42] #77 closed

[2019-03-02 18:43] #93 closed

[2019-03-02 18:44] #67 closed

[2019-03-02 18:46] benjaminwood commented on #79
Fixed! Thanks @dinjas

[2019-03-02 18:46] #79 closed

[2019-03-02 18:54] benjaminwood commented on #86
Thanks @habibalamin. How'd you find/choose to contribute to this project? Happy to have your contributions, just curious how you heard about it!

I feel that the readme does clearly state that Docker CE is required:

https://github.com/OfficeMomsandDads/scheduler/blob/a36a699572fe79b1942549bc0f9db9d8211a8558/README.md#L11-L12

I'm going to tackle this issue now because it's a critical one for @Sar

[2019-03-02 19:05] habibalamin commented on #86
Yes, the `README` does clearly state that, but someone could be forgiven, especially if they know just enough Docker, for assuming that their `docker-machine` setup would work just as well<sup>1</sup>. Perhaps stressing that it really does have to be Docker CE and that using `docker-machine` or some other alternative will just not work.

We found the project by searching the usual “Up For Grabs” l

[2019-03-02 21:12] #86 closed

[2019-03-02 21:23] benjaminwood commented on #86
Cool, thanks for following up @habibalamin. Let me know if I can offer additional direction/detail on any open issues that you'd like to work on.

@SarahOMD this is working as expected now. Users can be invited following this link:

[2019-03-07 02:37] nvick opened #99 "Update Ruby"
Ruby 2.6.1 is out with fixes for NetHTTP and NetFTP.

[2019-03-07 02:38] nvick opened #100 "Update ShouldaMatchers"
Update out to fix deprecations.

[2019-03-07 15:47] habibalamin commented on #72
@jordanluce and I are planning to work on this right now.

[2019-03-07 16:00] benjaminwood commented on #72
Cool, let me know if you have questions.

[2019-03-07 16:17] #99 closed

[2019-03-08 23:43] nvick commented on #100
This is done

[2019-03-08 23:43] #100 closed

[2019-03-09 23:38] SarahOMD opened #103 "Adjusting shifts retroactively"
Per our phone discussion...
It would be helpful if the VC has the power to retroactively adjust shift data (duration, volunteers assigned, number of kids served, and the date) to reflect shifts that may have gone differently than what was recorded using the app, without the use of notifications.  This will help ensure accurate data collection with minimal disruption.

[2019-03-19 17:15] nvick opened #104 "Include Dynamic Content SMS"
We are seeing Carriers block the apps SMS during the testing phase. One thing that would help is to add some dynamic content to the messages. Maybe include the date in the message for a need.

[2019-03-20 16:23] nvick opened #105 "Update Devise"
https://github.com/OfficeMomsandDads/scheduler/network/alert/Gemfile.lock/devise/open

[2019-03-26 21:47] nvick opened #106 "Use correct word for action in notification"
Currently when a shift is claimed or released the notification box shows `Shift Claimed!`

![image](https://user-images.githubusercontent.com/327614/55035384-14606200-4fd5-11e9-9520-41d8d0f11c20.png)

[2019-03-26 21:51] nvick opened #107 "Updated Start Time needs index view"
Like we adjust in the need show view, the index view start time should be based on the need start time or earliest shift.
![image](https://user-images.githubusercontent.com/327614/55036023-9a30dd00-4fd6-11e9-8999-7105ff3834a0.png)

[2019-03-26 21:52] nvick opened #108 "Order by newest to oldest needs"
Order the needs newest to oldest on index view.

[2019-03-29 17:18] dinjas commented on #108
Done in #109.

[2019-03-29 17:18] #108 closed

[2019-03-29 17:35] #105 closed

[2019-03-29 17:52] #107 closed

[2019-03-29 18:23] nvick opened #112 "Convert to Radio Buttons"
![image](https://user-images.githubusercontent.com/327614/55254350-db163500-5214-11e9-823a-16c26c0b3644.png)
Would like to have Yes/No radio buttons replace the check box

[2019-04-01 09:59] habibalamin commented on #72
@benjaminwood sorry for notifying you so late, but we've had to drop this due to time constraints and competing priorities.

[2019-04-02 15:26] SarahOMD opened #114 "Sickly Felons :-)"
Hi Guys, the ladies making the training manual had the following feedback:

This is the image that Darcy was talking about. It makes you pick both that you have a medical condition and that you are a felon, whether you do or not. It is a required field, so it doesn't allow you to submit the form without these being selected.
![IMG_1054](https://user-images.githubusercontent.com/43186440/55414936-e

[2019-04-02 15:28] SarahOMD opened #115 "Blockout times"
Another item from the the gal working on the manual:

If people need to add a blockout for just the morning or afternoon (i.e. Tuesday morning) the app doesn't allow you to select a date at all. It just stays on the date you are currently on.

Thanks

[2019-04-02 15:29] nvick commented on #114
Ref #112

[2019-04-02 15:31] nvick commented on #115
![image](https://user-images.githubusercontent.com/327614/55415340-b4604300-5521-11e9-96c7-0999d9f3f804.png)

[2019-04-03 02:35] benjaminwood commented on #72
All good, thanks for following up.

[2019-04-19 15:39] nvick opened #121 "Mobile Need Creation"
Build Mobile UI for creating needs.

[2019-04-19 16:59] nvick opened #122 "List Requester"
List the requester of the need in the need details

[2019-04-19 17:04] nvick opened #123 "Assign Social Worker to Need"
User Story:

As a volunteer, I need to know which social worker is in charge of the case so that I know who to contact if I have any issues during my shift.

Acceptance Criteria:

- [x] Someone creating a need can assign a social worker + social worker's contact information to the need from a drop-down list that only displays social workers associated with that office.
- [x] Any user viewing the n

[2019-04-19 17:07] nvick commented on #122
<img width="1112" alt="png image 2" src="https://user-images.githubusercontent.com/327614/56434787-fcee5f00-628a-11e9-83e9-5d7cf84b8ee6.png">

[2019-04-19 18:21] kyleboe opened #124 "Show Only Today & Future Needs in Index"
![image](https://user-images.githubusercontent.com/4054771/56437664-2f9d5500-6295-11e9-9e9a-926873ea74ee.png)
Note the need dates.

[2019-04-19 20:49] nvick commented on #106
Fixed by #120

[2019-04-19 20:52] #106 closed

[2019-04-19 20:52] #115 closed

[2019-04-19 21:08] #122 closed

[2019-04-19 21:21] nvick commented on #104
![image](https://user-images.githubusercontent.com/327614/56444655-7481b580-62ae-11e9-8cc0-e865f16b9d21.png)

[2019-04-19 22:15] #124 closed

[2019-04-19 22:46] nvick commented on #88
I'm going to close this out because you can type and the date picker allows moving by years.

[2019-04-19 22:46] #88 closed

[2019-04-19 22:58] #112 closed

[2019-04-19 22:59] #114 closed

[2019-04-19 23:40] benjaminwood opened #129 "Cannot edit user"
![image](https://user-images.githubusercontent.com/1232531/56448178-0a730b80-62c2-11e9-8b53-6833fcc1e651.png)

Flash message says 'Your account has been updated successfully.', but if you return to the edit screen you will see that the number has not changed.

[2019-04-22 17:30] #104 closed

[2019-04-22 22:29] kyleboe commented on #72
Resolved by #135

[2019-04-22 22:29] #72 closed

[2019-04-23 12:38] benjaminwood opened #138 "Setup scheduler:update_blockouts cron in staging/production"
This job needs to run daily or volunteer blockouts will not be projected.

https://github.com/OfficeMomsandDads/scheduler/blob/854eddee893453cf8c4e2b19b108a7a649421701/lib/tasks/scheduler.rake#L3-L14

I think we can use heroku scheduler for this.

[2019-04-23 22:35] kyleboe commented on #19
Because of the limitation issues raised in #104, I have crossed the notification when all shifts are taken off the list. We can revisit this in the future when we have means of circumventing said limitations.

[2019-04-23 23:01] benjaminwood commented on #19
crossed the notification?

[2019-04-23 23:04] kyleboe commented on #19
Updated comment for clarity

[2019-04-24 00:02] kyleboe commented on #129
Solved by #137

[2019-04-24 00:02] #129 closed

[2019-04-24 00:27] kyleboe commented on #68
This is resolved by #136

[2019-04-24 00:27] #68 closed

[2019-04-24 17:55] nvick opened #141 "Implement Rate Limit"
Implement rate limiting on the `SendTextMessageWorker` to help with being blocked by carriers.

[sidekiq-throttled](https://github.com/sensortower/sidekiq-throttled)

![image](https://user-images.githubusercontent.com/327614/56682159-d6ac3300-667f-11e9-8860-a85ac160fe97.png)

[2019-04-24 20:24] kyleboe opened #143 "Multi-select on invite form"

[2019-04-24 20:25] kyleboe opened #144 "Phone number on admin form"

[2019-04-24 20:35] kyleboe opened #145 "Default to English"
https://github.com/OfficeMomsandDads/scheduler/blob/302640a3854016a53aba7e775c5ed8cd11ef88e7/app/models/null_objects/null_language.rb#L5

Should be `'English'`

[2019-04-24 20:42] kyleboe opened #146 "Batch Invite/Import"
Allow for comma separated invites in invite form

[2019-04-24 20:44] kyleboe opened #147 "Shift Claim Button Text"
Change from `Take` to `Claim`

[2019-04-25 16:16] #144 closed

[2019-04-25 16:34] #141 closed

[2019-04-25 19:55] DarcyBlank opened #150 "Darcy can’t log in as Admin"

[2019-04-25 19:57] kyleboe commented on #150
I resent the admin invitation to you @DarcyBlank. Check your email 👍

[2019-04-25 20:07] DarcyBlank commented on #150
Trying to log in as Admin to app.omd, and get this error message, but can’t find invite?

https://app.officemomsanddads.com/users/sign_in. Shoot I’m having a tough time moving the screen shot . . . Says I can’t sign in due to pending invitation.

[2019-04-25 20:12] DarcyBlank opened #151 "Office locations — am I adding those? I think I said I would"

[2019-04-25 20:14] nvick commented on #150
It should be in your OMD email account. The logs on the server show it was deliver to the OMD email host at about 12:57.

[2019-04-25 20:18] DarcyBlank commented on #150
Got it! Thx

[2019-04-25 20:18] #150 closed

[2019-04-26 00:47] nvick commented on #151
Yes, offices will need to be added by an admin.

[2019-04-26 03:37] DarcyBlank commented on #151
Thanks!

Darcy Blankenship
Volunteer Coordinator, Clark County

360.521.7138

--
The information contained in this E-mail may be confidential and/or
proprietary to Office Moms& Dads and/or its affiliates. The information
transmitted herewith is intended only for use by the individual or entity
to which it is addressed. If the reader of this message is not the intended 
recipient, you are hereby no

[2019-04-26 03:38] #151 closed

[2019-04-26 16:20] #147 closed

[2019-04-26 20:51] kyleboe commented on #138
Done 👍
![image](https://user-images.githubusercontent.com/4054771/56835891-57a72e00-682a-11e9-9836-96335013290e.png)

[2019-04-26 21:27] benjaminwood commented on #138
Nice!

[2019-04-26 22:57] benjaminwood opened #156 "[OMD Scheduler/production] Pundit::NotDefinedError: unable to find policy `NilClassPolicy` for `nil`"
## Backtrace

    line 7 of [PROJECT_ROOT]/app/controllers/shifts_controller.rb: index
    line 34 of [PROJECT_ROOT]/app/controllers/application_controller.rb: set_time_zone

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/48715883)

[2019-04-26 22:58] benjaminwood commented on #156
I believe we should prevent a user from deleting the last shift of a need. Display an alert that says something to the effect of:

Feel free to reword, but that's the gist.

[2019-04-26 23:14] #143 closed

[2019-04-26 23:14] #83 closed

[2019-04-26 23:15] #138 closed

[2019-04-27 18:57] nvick opened #158 "Social Worker Phone"
List social work phone number on need details. Once they are assignable. #123
![image](https://user-images.githubusercontent.com/327614/56853933-73bad600-68e3-11e9-970d-d79506b99c86.png)

[2019-04-29 13:27] SarahOMD opened #159 "Favicon"
Can we get  a favicon created for the app?  I'm instructing folks to make it a shortcut on their favorites bar, but it looks a little naked.

Thanks!

[2019-04-29 13:28] SarahOMD opened #160 "Inviting Sarah Wicks"
Ben spoke with Sarah Wicks about being the contact person from OMD for all operational questions/feedback.  She is familiar with Github and is used to translating from human language for her job.  Can you please grant her access to Github?  caldwell@officemomsanddads.com

Thanks!

[2019-04-29 17:25] #146 closed

[2019-04-29 17:50] nvick commented on #160
Awesome! I have sent the invite off to Sarah. If she has a Github account feel free to update the issue with her Github username and I will invite her that way.

[2019-04-29 18:16] kyleboe commented on #159
Do you have the illustrator file for this icon?
![cropped-icon-omd](https://user-images.githubusercontent.com/4054771/56916124-0a66ce80-6a6d-11e9-9216-c210e11479b2.png)
I would like to remove the textured background for compression sake.

[2019-04-30 20:11] #19 closed

[2019-04-30 21:33] #121 closed

[2019-04-30 21:45] #156 closed

[2019-04-30 21:47] SarahOMD opened #164 "Social Workers inviting Social Workers"
I'm sorry, I know this is changing what we had agreed upon, but it has become apparent that Social Workers need to invite other social workers during the roll out process.  Currently, they can invite volunteers, but not other social workers. Can you let me know when this has been adjusted so I can communicate it to the workers?  Thanks!!

[2019-04-30 22:06] #164 closed

[2019-04-30 22:23] #159 closed

[2019-04-30 22:27] #160 closed

[2019-04-30 22:28] kyleboe commented on #164
This is verified working and in production :+1:

[2019-04-30 22:29] kyleboe commented on #156
This is fixed and in production :+1:

[2019-04-30 22:31] kyleboe commented on #159
We will want to revisit this at some point so that we are not serving such a large image file. For now the favicon from the static site is in production 👍

[2019-05-01 19:44] kyleboe opened #169 "Misc UI Cleanup"
Ensure that spacing is consistent across Mobile/Desktop forms. Create related issues if scope is not small.

[2019-05-02 03:37] DarcyBlank opened #170 "Users List, User Column doesn't change ascending/descending with toggle"
Email address column and ID column DO toggle correctly.

[2019-05-05 21:19] sarahwicks opened #171 "Recurring Blockouts in Scheduler"
Setting a recurring blockout time using Start Date and End Date does not behave as expected. This sequence seems to be the only way to set a recurring blockout time:

1. Uncheck "All Day"
2. Set Start/End Time
3. Set Repeat

Setting a specific blockout time using start date/end date does not work as expected.
<img width="300" alt="Screen Shot 2019-05-05 at 3 14 10 PM" src="https://user-images.gith

[2019-05-05 21:27] sarahwicks opened #172 "Scheduling Blockout U/X"
User Story:

As a Volunteer, I need a a more intuitive U/X in the scheduling app so that I can set recurring blockout times easily.

Acceptance Criteria:

Please consider these enhancements to the recurring blockout date feature:

- [ ] Every weekday
- [ ] Every [Monday/Tuesday/Weds/etc.]
- [ ] Every other [Monday/Tuesday/Weds/etc.]
- [ ] The [first/second/third/fourth] [M/Tu/W] of the month
etc.

[2019-05-05 21:30] sarahwicks opened #173 "Invitation Status Checker"
User Story:

As a Volunteer Coordinator/Hub Leader, I need to check the status of app invitations so that I know who has created an account and who has not.

Acceptance Criteria:

- [ ] A Volunteer Coordinator can log in and see each email address he/she has invited to the app and whether or not the person has created an account.
- [ ] In this UI, the Volunteer Coordinator can send a reminder to a

[2019-05-05 21:33] sarahwicks opened #174 "VC/RM Leader Dashboard"
User Story:

As a Volunteer Coordinator/Regional Manager, I need a dashboard so that I can check stats related to my site.

Minimum Acceptance Criteria:

- [x] View # of requests for a specified time period (week/month/year)
- [x] View # of total volunteer hours served for a specific time period for the office
- [x] View # of filled and unfilled requests for a specific time period
- [x] View most

[2019-05-05 21:34] sarahwicks opened #175 "Communication Preferences"
User Story:

As a user, I need the ability to set my communication preferences so that I can receive notifications in a manner that I choose.

Background:

Not all users can text. We need the ability for users to choose to receive notifications via email.

Acceptance Criteria:

- [ ] Users (Volunteers and Social Workers) have the ability to set notification preferences to text or email.

- [ ] Use

[2019-05-05 21:45] sarahwicks opened #176 "Enhancement: Volunteer Dashboard"
User Story:

As a Volunteer, I need a dashboard so I can view my personal statistics so that I can remain motivated and engaged with Office Moms and Dads.

Acceptance Criteria:

At a minimum:

- [ ] I can view how many hours I've served in a specific time period
- [ ] I can view how many children I've served in a specific time period

[2019-05-05 21:48] sarahwicks opened #177 "Volunteer Shift Surveys"
User Story:

As a Volunteer, I need a convenient way to provide feedback after a shift ends so that my Volunteer Coordinator can receive timely feedback about the shift.

Acceptance Criteria:

- [ ] The Volunteer Coordinator/Hub Leader has the ability to create and edit a standard after-shift survey.
- [ ] A Volunteer receives a link to the after-shift survey after completing a shift.
- [ ] The Vo

[2019-05-05 21:53] sarahwicks opened #178 "Enhancement: Age difference enforcement"
User Story:

As a child entering foster care, I need to be cared for by an Office Mom or Dad who is at least [TBD] years older than I am so that I feel comfortable and so that OMD avoids risk.

Acceptance Criteria:

- [ ] Volunteers are only offered age ranges of children who are at least [TBD] years younger than they are, based on the Volunteer's birthday entry.

Temporary Fix: Please add this te

[2019-05-05 22:03] sarahwicks opened #179 "Change "Preferred Culture" to "Preferred Race/Ethnicity""
The only two ethnicities recognized by the US govt are "Hispanic" and "non-Hispanic." The other entries are races, not cultures. Suggest alignment with US census terminology and values to avoid sensitivity issues.

Races:
- White
- Black or African American
- American Indian or Alaska Native
- Asian
- Native Hawaiian or Other Pacific Islander

Ethnicities:
- Hispanic (y/n)

https://www.census.gov/

[2019-05-05 22:06] sarahwicks opened #180 "Need creation UI"
User Story:

As a Volunteer, I need to know more specific details about the children coming into care so that I can decide if I am willing and able to accept the request.

Dependencies:

- Blocks #181

Acceptance Criteria:

- [ ] For each child coming into care, a user creating a need is able to specify the child's age, gender, and specific details once #181 is complete.

[2019-05-05 22:09] sarahwicks opened #181 "Freeform text field in need creation UI"
User Story:

As a Social Worker, I need a way to communicate specific/unique needs of children coming into care so that Volunteers can evaluate whether they are willing and able to accept the request.

Dependencies:

- Is blocked by #180

Examples:

- The child(ren) is ill
- The child(ren) has head lice.
- The child(ren) has a special need, e.g., is autistic or deaf.
- The child(ren) is recovering

[2019-05-06 20:37] SarahOMD opened #182 "State workers having trouble with access"
Hey guys.  A few state workers this morning reported trouble accessing the site.  I told them to use the browser Edge, but it didn't help.  They have alerted their IT dept, but I want to make sure it's nothing we can prevent on our end!  Thanks

[2019-05-06 20:38] SarahOMD opened #183 ""social worker" to Child Welfare Worker"
Can we change the role "social worker" to "Child Welfare Worker" to make it more universal for our clients?

[2019-05-06 20:54] kyleboe commented on #182
What kind of trouble are they having? Like they can't access it at all? Does anything on the page load?

[2019-05-07 13:59] SarahOMD opened #184 "Editing User Profile"
As a user, I want to edit my medical information, criminal history, languages spoken, and/or cultural identity, etc. because I forgot to set it up initially.

 ---I have a child welfare worker who set up her profile with only her name, email, phone and time zone.  She would like to update the info, but is unable to get back in to the full form.

[2019-05-07 16:40] kyleboe commented on #184
Correct me if I am wrong, but based on the initial spec, my understanding was that we only need said information for volunteers/volunteer coordinators that are going to be interacting with the children. This was based on the state being the ones responsible for that kind of information about child welfare workers. The ability to edit those attributes is enabled for volunteers and volunteer coordin

[2019-05-07 23:02] SarahOMD commented on #184
Ok, yes @kyleboe you're right!  I forgot that we decided we didn't need that info from child welfare workers.  Disregard this issue!

[2019-05-07 23:02] #184 closed

[2019-05-07 23:04] SarahOMD commented on #182
Sounds like the page wouldn't even load.  It took an entire day, but the IT guy on site was able to work around their security.  I just don't understand why these offices aren't operating under universal IT security rules.  Seems like it should all be the same across the board!

I just wanted to make sure it wasn't something on our end, since there were two offices having trouble yesterday.  Thank

[2019-05-08 00:23] #182 closed

[2019-05-08 17:09] sarahwicks opened #186 "Enhancement: Automatic Time Zone Assignment"
User Story

As a volunteer, I need my time zone to match the time zone of the office where I will serve my shift so that I claim the right hours in the app.

Background:

A volunteer accidentally selected the wrong time zone in her profile, so today she thought she was claiming 10-12 but it showed up in the app as 9-11. We should avoid human error by having a rule: site time zone = volunteer time

[2019-05-08 17:11] sarahwicks opened #187 "Enhancement: Top-level shift information"
User Story:

As a social worker or volunteer coordinator, I need an easy way to see who has claimed a shift so that I know who to expect in the office.

Background:

Currently the only way to see who has claimed a shift is to edit the need. It would be much better if we could see who has claimed the shift without having to go into edit mode.

Acceptance Criteria:

- [x] The standard display shows

[2019-05-08 17:20] sarahwicks opened #188 "Enhancement: More detailed text message notifications"
User Story:

As a social worker, I need an easy way to see who is coming into the office so I don't have to complete unnecessary steps to discover this information.

Background:

Current Process to discover identify of volunteer(s) who have claimed shifts:
1. Volunteer claims shift
2. Social worker is notified via text message
3. Social worker logs in to app
4. Social worker clicks on need
5. Soci

[2019-05-08 18:18] sarahwicks opened #189 "Enhancement: Request Subscriptions"
As a Volunteer Coordinator/Social Worker/Hub Leader/Exec, I need the ability to subscribe to notifications I want to receive so I can remain informed.

Background:

Currently, only the person who enters the request receives notifications. Other social workers may want to be notified if a shift is claimed. Volunteer Coordinators may also want to be notified if shifts are requested or changed.

Acce

[2019-05-08 18:20] sarahwicks commented on #103
I was going to enter a ticket about this issue too. Today, the social worker requested 9-4. The volunteer claimed 10-11 but had her time zone incorrect, so it showed up as claiming 9-10. She didn't show up until 10, so now it looks like an hour was served when it wasn't, which leads to inaccurate reporting. We need the ability to edit shifts once they're complete.

[2019-05-08 19:57] kyleboe opened #190 "Use Default Language and Remove Null Object Pattern"
Should default to English.

[2019-05-08 19:58] kyleboe commented on #145
I think we should actually revisit this and ensure that this is truly defaulting and not using a NullObject pattern for the sake of reporting. See #190

[2019-05-08 20:04] nvick commented on #145
Good catch.

[2019-05-08 20:48] DarcyBlank opened #191 "Question: Should everyone attached to an office receive all notifications?"
"Anytime an OMD request is added or deleted, **all registered user** have been getting text messages. I don’t know if this was intended, but just want to let you know in case it needs to be corrected in the system."

I thought that the requestor and all volunteers for the time of the request would get the notifications, but not all of the social workers. We are asking the person making this commen

[2019-05-09 17:56] sarahwicks opened #192 "Enhancement: Past/Future Schedule Needs View"
User Story:

As an admin, I need to be able to view past and future need requests so that I have visibility into daily operations.

Background:

Currently, the need view only shows the needs from the current day. There is no way to look at needs requested/filled from a previous day.
<img width="1269" alt="Screen Shot 2019-05-09 at 11 55 41 AM" src="https://user-images.githubusercontent.com/5015626

[2019-05-09 21:47] sarahwicks opened #193 "Enhancement: Need Reminders"
User Story

As a social worker, I need the app to remind volunteers of an outstanding request so we have a better chance of filling the request.

Dependencies:

Is related to #212

Acceptance Criteria

- [x] Volunteers will receive reminders after [TBD time period] if nobody has claimed the request.

[2019-05-10 23:36] dinjas commented on #85
I am a little confused about some of the notification logic with respect to needs. It looks like:

- when a need is created, a group of users is notified that a new need has opened up at their office and their ids get placed in the `notified_user_ids` field of the need
- when a need is updated, a group of users is notified that a **new** need has opened up at their office and their ids get placed

[2019-05-10 23:38] dinjas commented on #85
Wait, I misspoke.

When a need is updated, the notified users are not added to the list of notified user ids. So a user would potentially get notified of subsequent updates (as long as they were not notified of the create).

[2019-05-13 17:43] DarcyBlank opened #194 "User, Volunteer Rosa Harmon, not receiving text messages"
Efforts to date: We deleted original profile and created new one. Still doesn't receive text messages for needs at Vancouver office. All her info looks correct to me. (Her husband does receive the messages, which is how we know she is not.)

[2019-05-13 18:36] kyleboe commented on #194
Looks like we received an [error `30005`](https://www.twilio.com/docs/api/errors/30005) recently.

My best guess is that it is caused by one of the two things below:

- The device cannot receive SMS (for example, the phone number belongs to a landline)
- There is an issue with the mobile carrier

To eliminate potential issues with the carrier, she will want to make sure her number in the correct [

[2019-05-15 22:49] SarahOMD opened #196 "A lot of error messages"
I keep getting these emails, but usually for only user at a time.  This one was a lot.  Can you tell me what's going on??  I can forward you the email if it would help.

You are receiving this email because the following debugging events triggered one of your configured Alert Triggers.ErrorTime30005 - Unknown destination handset2019-05-15 20:20:47 UTC30005 - Unknown destination handset2019-05-15 2

[2019-05-15 23:15] benjaminwood commented on #196
Is the email from twilio? I'm guessing the number isn't textable or it is blank/missing.

It may be related to this error (reported by honeybadger): https://app.honeybadger.io/projects/59936/faults/48746325#notice-summary

We've got a branch that refactors notification logic to ensure the above error does not happen: https://github.com/OfficeMomsandDads/scheduler/pull/117

@dinjas has been working

[2019-05-16 21:21] SarahOMD commented on #196
Yes, it was from Twilio, but I checked the numbers in our database, and they seem correct.  Could it be the cell service carrier?

[2019-05-17 02:13] DarcyBlank opened #197 "Users receiving error message: "not authorized" to create need; text notifications failing to send"
Got this message from Marleen Payment today: "I just tried to send my first need out through the app and it told me that I was not authorized to do that, so I had to send it through regular text. "

I (Darcy) also got a similar message today, but my Vancouver need did post. But there were no takers, so I'm wondering if maybe it didn't really go anywhere? Thanks.

[2019-05-17 02:42] benjaminwood commented on #197
@DarcyBlank thanks for the report. If it happens again can you get a screenshot?

[2019-05-18 23:38] DarcyBlank commented on #197
![image](https://user-images.githubusercontent.com/49794219/57975994-dc4d1e00-798a-11e9-8b75-dbeeb754851a.png)
[hint error message.docx](https://github.com/OfficeMomsandDads/scheduler/files/3194608/hint.error.message.docx)
[hint error message.docx](https://github.com/OfficeMomsandDads/scheduler/files/3194609/hint.error.message.docx)

We're sorry, but something went wrong.
If you are the applicatio

[2019-05-18 23:53] DarcyBlank commented on #197
Sorry -- I'm back again. I got that message now when testing with a few of our volunteers, yet the need posted three times (oh, because I resubmitted the form; sorry).  I'm getting the message signed in as both Volunteer Coordinator Darcy and as Admin. Thanks again.

[2019-05-20 15:33] nvick commented on #197
Thanks, @DarcyBlank. We will take a look at it.

https://app.honeybadger.io/projects/59936/faults/49465294

[2019-05-21 17:50] DarcyBlank opened #198 "Coordinators not receiving volunteer confirmation messages"
From Volunteer Coordinator Marlene Payment and Volunteer Coordinator Karena Miller on May 20, 2019.  Tumwater office. Marlene sent out a new need and did not receive notifications of activity on that need.
"Neither Karena or I got a message that the shift had been claimed. We both ended up texting the volunteers ourselves to make sure. Karena's volunteer said she definitely responded through the a

[2019-05-21 18:14] DarcyBlank opened #199 "User, Volunteer Susan Schroeder Block-out Dates -- July & August blocked out, but not by her"
Volunter Susan Schroeder, reported the following on May 16:

"Looks like it’s letting me put in half days now. But it has me blocked out for all of July and August and I know I didn’t do that." Would you please check on what's happened? Thanks.

[2019-05-21 23:04] nvick opened #200 "Phone Verification"
As the system, we need to verify that the phone numbers being enter are sms capable so that we minimize the amount of sms sending errors and are able to communicate with our users.

- [x] a verification code is sent during account creation
- [x] once the phone number is verified as sms capable account is created
- [x] a new phone number is requested after X amount of time or retries

[2019-05-22 16:35] DarcyBlank commented on #197
Social worker, Krista Thompson, Vancouver office, received message on May 21 for a 1-hour shift starting at 3:30. No responses, as notification text was not sent. (She was using Chrome on her tablet.)

I received this message again today when creating a new request. Looks created, but texts do not go out to volunteers. Manually texted volunteers, "assigned" them to shifts -- they did receive text

[2019-05-22 21:26] sarahwicks commented on #194
Update 5/22

- Number is able to receive SMS
- Husband is on same carrier, he is receiving text messages without a problem
- User updated phone number to E.164 format
-Can't test until we resolve #197 (text messages aren't going out to any users right now)

[2019-05-22 21:33] sarahwicks commented on #197
We've observed this bug for:
-Vancouver (Admin, social worker, volunteer coordinator)
-Tumwater

These sites are working fine:
-Boise
-Caldwell

[2019-05-22 21:39] sarahwicks commented on #169
@kyleboe Can you add more detail to this ticket so we can triage? We're not sure what the issue is. Thank you!

[2019-05-22 21:42] sarahwicks commented on #145
Hi, @kyleboe and @nvick - Is the issue here that the system is not defaulting to English if the user doesn't specify a language in the profile section? We're trying to triage, if you could put a summary of the issue here so we're sure we understand, that would be great. Thanks!

[2019-05-22 21:52] sarahwicks commented on #199
@DarcyBlank, can you see if this is related to #171?

[2019-05-22 21:53] sarahwicks commented on #198
@DarcyBlank, did you confirm that the need was claimed in the app?

[2019-05-22 21:57] sarahwicks commented on #197
@DarcyBlank, I updated the title here to better represent the bug (since it's not constrained to a single user)

[2019-05-22 21:57] DarcyBlank commented on #198
Yes. Volunteer Coordinator stated that the volunteer did claim through the
app. However, because it was in the past, I could not not verify.

*Darcy Blankenship*
*Secretary, Board of Directors*
*Volunteer Coordinator, Vancouver*

www.officemomsanddads.com
360-521-7138

On Wed, May 22, 2019 at 2:53 PM sarahwicks <notifications@github.com> wrote:

--
The information contained in this E-mail may be c

[2019-05-23 21:36] haseebelahi commented on #188
Hi @sarahwicks, @nvick! I'm trying to get involved and this looks like a good first issue for me which I can tackle, should I pick this one up?

[2019-05-23 21:37] haseebelahi commented on #181
Hi @sarahwicks, @nvick!
I'm trying to get involved and this one also looks like a good first issue for me which I can tackle, should I pick this one up?

[2019-05-23 21:39] benjaminwood commented on #188
Hi @haseebelahi - great!

Yes, this is a good first issue to tackle. Let me know if you have questions!

[2019-05-24 14:51] benjaminwood commented on #145
I believe this issue is superseded by https://github.com/OfficeMomsandDads/scheduler/issues/190

@sarahwicks I'll follow up there with a better description.

[2019-05-24 14:51] #145 closed

[2019-05-24 14:55] benjaminwood commented on #190
The "Null Object Pattern" mentioned in the title is used to *display* a default language if none is selected (when creating a need, for example).

The problem is that this is not useful for reporting as we would have many needs with no language from a database perspective. So, the goal is to actually default to English as if it were selected by the user.

[2019-05-24 15:13] benjaminwood commented on #171
@sarahwicks looking at the screenshots and the blockouts generated, I believe that the system is behaving as designed in both cases. The issue with the recurring blockout is that it spans multiple days, but is set to repeat every day which is logically problematic.

We modeled the blockout scheduling feature after planning center. Are you by chance familiar with that system? If not, I may be able

[2019-05-24 15:15] benjaminwood commented on #199
I'm fairly confident this is user error. I'm closing the issue now, but please feel free to re-open if the issue turns out to be reproducible.

[2019-05-24 15:15] #199 closed

[2019-05-24 15:18] benjaminwood commented on #198
@nvick confirmed that the shifts were not claimed in the app. So, I assume user error.

It may be worth reaching out to the user to ensure they know how to claim a shift. If there is a real issue here, perhaps it will come to light in that conversation.

Closing for now.

[2019-05-24 15:18] #198 closed

[2019-05-24 15:18] benjaminwood commented on #197
I'm going to work on this today.

[2019-05-24 15:20] benjaminwood commented on #196
As discussed on our call earlier this week:

1. Sarah has unsubscribed from these notifications
2. Twillio indicates that the problem is that these phone numbers cannot receive text messages
3. The solution is to validate phone numbers upon signup/update. We've opened an issue for that here: https://github.com/OfficeMomsandDads/scheduler/issues/200

With that, I feel this issue can be closed!

[2019-05-24 15:20] #196 closed

[2019-05-24 15:30] benjaminwood commented on #191
Only `volunteers` & `coordinators` are intended to receive need notifications. I took a look at the code that filters this and it appears correct to me.

In order to investigate this further, we'll need more specific information regarding who received a notification that was not expected to.

If you feel this is no longer a concern, feel free to close.

[2019-05-24 16:25] benjaminwood commented on #186
As the app functions today, offices do not have the concept of timezone, instead, the time of a need is based on the local time of the user that created it. It does however translate between time zones.

So, for example:

Given:
1. I'm a volunteer coordinator or social worker at an office in Idaho.
1. My own time zone is set to MT
1. I create a need for 10am, the app uses my time zone (MT)

Then:

[2019-05-24 16:28] benjaminwood commented on #183
Yes, we can do that!

For implementation, let's change only the user facing display, keeping the role `social_worker` under the hood (it's shorter and still describes the role well).

[2019-05-24 16:34] benjaminwood commented on #181
@haseebelahi I believe this one is actually dependent on another issue (#180). I'm removing the "good first issue" label for now.

@sarahwicks can you confirm my understanding that #180 needs to be completed before this can be implemented? In order to add notes for **each child**, need details regarding children must be entered individually.

[2019-05-24 16:41] benjaminwood commented on #179
@sarahwicks can you provide a mapping for existing users from the current options to the new options?

[2019-05-24 16:44] benjaminwood commented on #178
@sarahwicks I've labeled this one as 'medium'. However, the temporary fix is definitely a 'small' task. Can you split that out to it's own issue and label it as such? It'd be a great "first issue" for new contributors.

Also, we'll need to know the [TBD] years older/younger.

[2019-05-24 16:47] benjaminwood commented on #177
We should consider integrating with [Typeform](https://www.typeform.com) to build this functionality. We don't want to build a survey/form builder into the app ourselves as that is generic functionality. Typeform has nice APIs/integrations that we could hook into to accomplish the notifications, etc.

[2019-05-24 16:52] benjaminwood commented on #103
I believe this issue should be superseded by/combined with #192.

[2019-05-24 16:52] #103 closed

[2019-05-24 16:53] benjaminwood commented on #192
As noted in #103, the needs should be editable retroactively as well.

[2019-05-24 16:55] benjaminwood commented on #192
@sarahwicks:

Are you referring to the calendar on the right? Currently the calendar is used to indicate blockout dates. Do you envision a dual purpose?

[2019-05-24 16:59] benjaminwood commented on #172
Related: #171

@sarahwicks do you have any apps/services which have recurring scheduling UI/UX that you like? As I mentioned in #171, the current UI is very flexible but that also makes it less intuitive. I think the solution is to implement something less flexible/power, but easier to understand.

[2019-05-24 17:02] benjaminwood commented on #169
Yeah, this issue is too broad. I think it was a placeholder for @kyleboe to follow up directly. I'm going to close it and we can open issues for specific tasks.

[2019-05-24 17:02] #169 closed

[2019-05-24 17:12] benjaminwood opened #202 "Invalid email address"
## Backtrace

    line 969 of [PROJECT_ROOT]/vendor/ruby-2.6.1/lib/ruby/2.6.0/net/smtp.rb: check_response
    line 937 of [PROJECT_ROOT]/vendor/ruby-2.6.1/lib/ruby/2.6.0/net/smtp.rb: getok
    line 865 of [PROJECT_ROOT]/vendor/ruby-2.6.1/lib/ruby/2.6.0/net/smtp.rb: rcptto

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/49862233)

[2019-05-24 17:13] benjaminwood commented on #202
This was caused by an invalid email address. We may have some email address validation already, but it appears it should be more strict.

[2019-05-24 17:50] benjaminwood commented on #197
I've gotten to the bottom of the error report that we received and it should be resolved now. Somehow a blockout was created where the start time was before the end time. We have a validation that should prevent this, so I'm going to follow up on that to ensure it is working.

By the way, I believe there are two distinct issues described here. One is the 'not authorized' issue, the other is the er

[2019-05-24 17:50] #197 closed

[2019-05-24 20:13] benjaminwood commented on #188
Great work @haseebelahi, thanks for the contribution!

This is on production & staging now. Can you verify behavior and close this issue if all is well?

[2019-05-24 21:05] DarcyBlank commented on #191
The original comment came from the King West Office a couple weeks ago. It happened today with Vancouver Office Social Worker Krista Thompson today. I created a need yesterday, and was filling in volunteers to time slots. Krista texted to tell me she was received notifications.
Image-1.jpg

[2019-05-24 21:20] benjaminwood commented on #191
Thanks @DarcyBlank! I see text "Image-1.jpg" in your message. Was there supposed to be an image there? Can you find out exactly what the content of the message was that she received? We'll look into it!

[2019-05-24 21:26] benjaminwood commented on #191
Actually, disregard that last message. We were able to look up exactly which messages she received by looking them up in twilio (the text message provider).

I had misspoken when I said

What I meant to say was:

Based on what I see below, it looks like she is receiving the messages that are intended, which are the ones that both a volunteer coordinator and social worker would receive. If you see

[2019-05-24 22:29] #27 closed

[2019-05-24 23:00] kyleboe commented on #27
This is now deployed to production 👍
![image](https://user-images.githubusercontent.com/4054771/58360301-e82e5980-7e3c-11e9-8a8c-01a73fcc76d6.png)
Navigate to the admin area and select Reports on the left. Clicking any of the links on that page will download a csv of the related data.

[2019-05-25 02:42] benjaminwood commented on #202
I resolved this today.

[2019-05-25 02:42] #202 closed

[2019-05-25 18:06] haseebelahi commented on #188
Thanks @benjaminwood, I'm not really sure though how to test this on staging since I don't have the credentials or anything. Can you help me in this regard? thanks.

[2019-05-25 18:08] haseebelahi commented on #181
Ok, I can work on #180 as well if that needs to be done before this!

[2019-05-25 18:26] haseebelahi commented on #183
I can take on this one, but since the role is a simple string in the `users` table, how do we plan to keep both the under the hood name `social worker` & the display name `Child Welfare Worker`?

[2019-05-29 00:08] sarahwicks commented on #192
@benjaminwood Hmmm....I'm not sure. The calendar is a little confusing in the UI for a social worker/volunteer coordinator/or admin, as none of these roles are likely to use the calendar to schedule blackout dates (although they still need this functionality so they can mark away times). How much dev effort would it be for the "Needs" info to update dynamically based on the date selected and the s

[2019-05-29 00:12] sarahwicks commented on #188
Thanks for your contribution, @haseebelahi! We really appreciate it. @benjaminwood, let me know if we can assist with testing in the stg environment. cc: @SarahOMD @DarcyBlank

[2019-05-29 00:14] sarahwicks commented on #186
This makes sense, @benjaminwood. We'll discuss at grooming tomorrow and see if we want to close this ticket.

[2019-05-29 00:18] sarahwicks commented on #181
@haseebelahi, @benjaminwood - Yes, this is blocked by #180. I updated the ticket and indicated the dependencies on both tickets. Thank you! cc: @SarahOMD @DarcyBlank

[2019-05-29 00:22] sarahwicks opened #209 "Age Difference Enforcement: Temporary Fix"
User Story:

As a child entering foster care, I need to be cared for by an Office Mom or Dad who is at least [TBD] years older than I am so that I feel comfortable and so that OMD avoids risk.

Dependencies:

- Full fix outlined in #178. This fix should be undone once #178 is complete.

Acceptance Criteria:

Temporary Fix: Please add this text to this profile field:

Current Text: Select one or mo

[2019-05-29 00:24] sarahwicks commented on #178
@benjaminwood - done, added #209

[2019-05-29 00:26] sarahwicks commented on #177
@benjaminwood - Sure, as long as there aren't privacy concerns with Typeform, we're open to this option! cc: @SarahOMD @DarcyBlank

[2019-05-29 00:30] sarahwicks commented on #171
@benjaminwood I'll take you up on a call - I think this is an important part of the UI, so I want to make sure it's intuitive but I definitely understand the desire to keep it flexible from a dev perspective. I can meet most days from 2 p.m. PST and beyond. Let me know what works for you and we can set up something. Perhaps you can show me the staging environment in the same call? cc: @SarahOMD @D

[2019-05-29 00:41] sarahwicks opened #210 "Add volunteer status to UI"
User Story:

As an admin/volunteer coordinator, I need to indicate whether volunteers are pending, active, or inactive so that I can store valuable information in the system but shift requests are only delivered to active volunteers.

Background:

The ideal time to set up a user profile is at the volunteer training. However, we do not want volunteers to receive shift notifications until their back

[2019-05-29 00:42] sarahwicks commented on #210
@benjaminwood / @nvick - Please add estimated dev effort to this new enhancement

[2019-05-29 00:43] sarahwicks commented on #209
@benjaminwood, added dev effort per your comment above, adjust as necessary

[2019-05-29 00:50] sarahwicks opened #211 ""Remember Me" in sign-up screen"
User Story:

As a [all roles], I need to indicate whether the OMD app should remember my credentials so I don't have to waste time logging in every time I access the app via a device I trust.

Acceptance Criteria:

- [ ] The sign-in screen for the app includes a check-box and "Remember Me," option, which will keep the user signed in for [TBD] time.

- [ ] The user only remains signed in on the spe

[2019-05-29 00:50] sarahwicks commented on #211
@benjaminwood / @nvick - I'd like users to remain logged in as long as possible without putting OMD at risk. What's your recommendation? cc: @SarahOMD @DarcyBlank

[2019-05-29 00:55] sarahwicks commented on #39
Please add a non-dev description of this issue so we can groom it. Thanks! @benjaminwood @nvick

[2019-05-29 01:12] sarahwicks opened #212 "Volunteer Shift Responses"
User Story:

As a volunteer, I need a way to indicate whether or not I'm available for a shift so that I don't receive any further notifications about the need and so that the volunteer coordinator/social worker/admin can see who has responded to the request.

Dependencies:

Is related to #193

Acceptance Criteria:

- [ ] Text like the following is added to the text message requests: "Reply 'NO' i

[2019-05-29 01:15] sarahwicks commented on #212
Needs dev estimate, @benjaminwood @nvick cc: @SarahOMD @DarcyBlank

[2019-05-29 18:59] DarcyBlank commented on #194
#197 has been resolved. User Rosa Harmon still having this issue. Also received notification on 5/29/19 that volunteer Jean Loven,  jeanloven@aol.com, in Monroe was experiencing same issue.

[2019-05-29 19:00] #194 closed

[2019-05-29 21:36] sarahwicks commented on #158
Closing, please see #123

[2019-05-29 21:36] #158 closed

[2019-05-30 01:23] nvick commented on #211
Two weeks is the default and what I see as current best practice.

[2019-05-30 18:09] SarahOMD opened #213 "Missing Office = skipped no. 12 on the list"
Today I tried to re-invite a social worker from the Lynnwood office, so I "destroyed" his previous invitation, and went back in to send the invite.  The Lynnwood office was missing from the dropdown menu, so I figured it "destroyed" the office in the process of destroying his profile invitation too.

While re-creating the Lynnwood office in the Offices tab, I noticed that no. 12 is missing from th

[2019-05-30 18:11] SarahOMD opened #214 "Offices MISSING from the drop down menu"
While sending a new user invite, I noticed there are only 18 (of 24) offices listed as options in the drop down menu.  HELP!

[2019-05-30 18:40] nvick commented on #213
@SarahOMD the ID is automatically assigned during creation of the office. If Lynnwood was deleted there is high likelihood it was ID=12. On creating the new office it used ID=25 which is the next available ID.

[2019-05-30 18:40] #213 closed

[2019-05-30 18:43] SarahOMD commented on #213
Got it.  Looks like it's back on the drop down menu (See issue #214 ).  Thanks!

[2019-05-30 18:44] kyleboe commented on #213
Also, we looked through the code and it did not destroy the office in the process of destroying the invite. Offices are not destroyed in any other way than manually deleting them in the admin interface. The Lynwood office had to have been manually deleted for it to go away.

[2019-05-30 18:46] SarahOMD commented on #213
Yep.  I realize now what I did.... instead of destroying the user, I destroyed the office.

I'm still worried about the drop down menu issue for #214

[2019-05-30 18:49] kyleboe commented on #214
The list for that dropdown is built from this method: https://github.com/OfficeMomsandDads/scheduler/blob/cbb093468fb5c34945d045d253b01f42243d3eca/app/helpers/application_helper.rb#L18-L20
used here:
https://github.com/OfficeMomsandDads/scheduler/blob/cbb093468fb5c34945d045d253b01f42243d3eca/app/views/devise/invitations/new.html.haml#L24

This means that as long as the offices are properly assigne

[2019-05-30 18:51] kyleboe commented on #214
Also, if there is an issue like this that is effecting something in the front end, please include screenshots of the issue with context and expected behavior. That will help us more quickly diagnose the problem.

[2019-05-30 18:51] nvick commented on #214
Lynnwood was missing from the dropdown menu because the new one was not assigned to you after it was recreated.

[2019-05-31 04:11] benjaminwood commented on #188
@haseebelahi my apologies! I meant to mention @sarahwicks in the second paragraph of my previous message.

@sarahwicks yes please! It'd be great if someone can confirm that they are now seeing the volunteer name in text messages.

[2019-05-31 04:19] benjaminwood opened #215 "Update Readme"
The readme has great info about how to get a development environment setup, but is lacking just about everything else. I was thinking we should include:

### Non-technical
1. Short intro Office Moms and Dads (mission, vision, etc)
1. Short description of what purpose the app serves / short list of key features
1. Abridged roadmap (maybe this should link to a wiki page?)
1. Why get involved/help?
1

[2019-05-31 13:25] sarahwicks commented on #188
@benjaminwood - will do, thanks! Thanks again, @haseebelahi!

[2019-05-31 19:46] haseebelahi commented on #180
Hey @sarahwicks, @benjaminwood ! I plan to pick this one up in the coming week!

[2019-05-31 21:34] sarahwicks commented on #211
Closing, this already exists! I don't know why I thought it didn't. @benjaminwood @nvick

[2019-05-31 21:34] #211 closed

[2019-05-31 21:51] benjaminwood commented on #180
Great, thank you! Let me know if you have an questions I can answer. Also happy to collaborate, let me know!

[2019-06-01 01:07] Hkly commented on #183
Maybe add roles to the [locales](https://github.com/OfficeMomsandDads/scheduler/blob/master/config/locales/en.yml) with translations to the desired display name?

[2019-06-03 14:48] benjaminwood commented on #183
@Hkly I like it!

What do you think @haseebelahi?

- [ ] Add role display name mapping to locales
- [ ] Add `User#role_display` (or similar) that returns the role from i18n.
- [ ] Use `User#role_display` everywhere we currently display the users role in the UI.

[2019-06-05 21:24] sarahwicks commented on #188
We hear that this is working! Thank you, @haseebelahi, for your contribution!!!

[2019-06-05 21:24] #188 closed

[2019-06-06 16:44] kyleboe commented on #27
@SarahOMD & @DarcyBlank have you guys had the chance to test this out? Just wanted to make sure that everything is looking ok on your end and get feedback if anything isn’t working as expected.

[2019-06-11 18:15] benjaminwood commented on #191
Krista Thompson received the notifications we would expect based on the rules of the system, I'm going to close this out. Feel free to open a new issue if you'd like the notification rules to change!

[2019-06-11 18:15] #191 closed

[2019-06-11 18:21] benjaminwood commented on #171
@sarahwicks, thanks! I'll shoot you an email regarding scheduling a call to chat about this. One thing I'd like to clarify:

I believe you were referencing my comment:

I meant that the scheduling feature is extremely flexible from a users perspective, not a dev perspective. I believe that the UX could be simplified by limiting what is possible, whereas right now, just about anything is possible.

[2019-06-12 21:12] sarahwicks commented on #40
Can you add a non dev description to this ticket so we can prioritize it from a business perspective? Thanks! @benjaminwood

[2019-06-12 21:14] sarahwicks commented on #54
Can you add a non dev description to this ticket so we can prioritize? @benjaminwood @kyleboe

[2019-06-17 17:27] DarcyBlank opened #216 "Question: Can two different users have the same email address?"

[2019-06-18 16:01] dinjas commented on #216
Hi Darcy. Users can't have the same email. If they could, then the app wouldn't know which user to check the password against when the user is trying to sign in to the app. If you try to invite a user with an email that's already been taken, you should see an error like this:

<img width="637" alt="Screen Shot 2019-06-18 at 9 00 48 AM" src="https://user-images.githubusercontent.com/15596/59700136-

[2019-06-18 16:10] DarcyBlank commented on #216
Thanks. That’s what I expected but didn’t remember if anyone had tried.

Darcy Blankenship
Volunteer Coordinator, Clark County

360.521.7138

--
The information contained in this E-mail may be confidential and/or
proprietary to Office Moms& Dads and/or its affiliates. The information
transmitted herewith is intended only for use by the individual or entity
to which it is addressed. If the reader o

[2019-06-19 21:27] sarahwicks opened #218 "Multiple Users per Email Address"
**User Story:**

As a user who shares an email address with another volunteer, I need the app to recognize me as a unique user so that I can get unique shift notifications.

**Background:**

We have multiple sites that have volunteers who share an email address.

**Acceptance Criteria:**

- [ ] Two volunteers who share an email address can set different schedule requirements

- [ ] Two volunteers

[2019-06-19 21:30] sarahwicks commented on #218
@benjaminwood - Can you guys add your dev estimate to this? Or if this is a no-go for the app as it's currently designed, can you help us think of another way to solve this issue? We think multiple volunteers sharing an email is going to be a recurring use case, especially given the demographics of our volunteers.

[2019-06-19 21:30] sarahwicks commented on #218
or @nvick ^

[2019-06-22 15:59] bencoppock commented on #214
@nvick can this be closed then?

[2019-06-22 17:17] nvick commented on #214
@bencoppock yes, thanks for checking!

[2019-06-22 17:17] #214 closed

[2019-06-25 16:40] nvick commented on #218
@sarahwicks the tool we use for authentication is built around a user having a unique email address. There are ways we could possibly work around it, but this will require some time to think through.

[2019-07-03 23:37] DarcyBlank opened #220 "Everett Office New Need not being texted out to Volunteers"
VC created the need for Everett office (and could see it immediately), but a **text notification did not go out to the volunteers.** VC can manage the shifts.
The need is visible to the volunteers and they can claim shifts when they are notified outside of the app that the need exists.

This occurred for new needs for:
May 28.    10-12 (2hours)
June 18th. 9-10:30’ish (1hour and a half)
June 25th 1

[2019-07-04 20:08] nvick commented on #220
@DarcyBlank thanks for the details. I’m to look into this over the holiday weekend.

[2019-07-05 15:00] nvick commented on #220
@DarcyBlank I reviewed the logs in Twilio this morning for failed or undelivered SMS for the Everett office needs. The latest need had five users notified, and notified three out of the five for every need in the office. The Twilio logs show "delivered" for all of those users.

[2019-07-05 17:06] DarcyBlank commented on #220
Thanks for such a quick response, Nate. I’ll ask her to let us know if it seems to continue.

Darcy Blankenship
Volunteer Coordinator, Clark County

360.521.7138

--
The information contained in this E-mail may be confidential and/or
proprietary to Office Moms& Dads and/or its affiliates. The information
transmitted herewith is intended only for use by the individual or entity
to which it is addre

[2019-07-17 21:23] sarahwicks opened #224 "Confirmation email/text for users who create a need"
User Story:

As a creator of a need, I need confirmation that my need was created successfully so that I know the technology is working correctly.

Acceptance Criteria:

- [ ] A creator of a need receives a confirmation email or text according to their communication preferences

Relates to:
#175

[2019-07-17 21:24] sarahwicks commented on #224
@nvick @benjaminwood @kyleboe Please add dev estimate to ticket, thanks!

[2019-07-17 21:28] sarahwicks opened #225 "Role Enhancement: Social Worker"
User Story:

As a social worker, I need to be able to view the reports so that I can comply with state reporting requirements.

Acceptance Criteria:

- [ ] Someone with the role "social worker" is able to view the reporting section of the app.

Relates to:
#183

[2019-07-17 21:29] sarahwicks commented on #225
@kyleboe @nvick @benjaminwood Please add dev effort, thanks!

[2019-07-17 21:34] sarahwicks opened #226 "Role enhancement: Volunteer Coordinator"
User Story:

As a volunteer coordinator, I need access to the reporting area of the app so that I can monitor the health of my site.

As a volunteer coordinator, I need to see all users related to my site so that I can properly manage the operational responsibilities for my site.

Acceptance Criteria:

- [ ] Someone with the role of "volunteer coordinator" has access to the reporting area of the a

[2019-07-17 21:40] sarahwicks commented on #226
@kyleboe @benjaminwood @nvick Please add dev estimate, thanks!

[2019-07-17 21:47] sarahwicks opened #227 "Shift Creation Feature Request: Increase Hours Toggle to 9 hrs"
User Story:

As someone who creates a need, I need the Expected Duration Slider bar in the "new need" UI to span a maximum of 9 hours so that I can schedule a full day of shifts.

Acceptance Criteria:

- [x] Expected Duration slider bar allows a selection of 9 hours

Background:

In the future, we may explore a more sophisticated solution in which the expected duration slider responds dynamically

[2019-07-17 21:56] sarahwicks commented on #227
@nvick @benjaminwood @kyleboe Please add dev estimate, thanks!

[2019-07-17 21:57] sarahwicks opened #228 "SPIKE: How to prevent system from double-counting kids"
If multiple shifts are created for the same kids, the app will count those kids uniquely when they should be counted once. This bloats our reporting. Likewise, if the same children are served over multiple days, they'll be counted each day. We need to figure out a way to link shifts to children without exposing their personal data.

[2019-07-17 22:04] sarahwicks opened #229 "Ability to request multiple volunteers for a shift"
User Story:

As a creator of a new need, I need to request the appropriate number of volunteers for a shift so that there are enough adults to meet the unique needs of the child(ren) in care.

Acceptance Criteria:

- [ ] The request creation UI allows a social worker to specify how many volunteers are needed for that request.

- [ ] The "manage shifts" UI displays the name of each volunteer who ha

[2019-07-17 22:05] sarahwicks commented on #229
@nvick @benjaminwood @kyleboe Please estimate dev work, thanks!

[2019-07-17 22:11] sarahwicks opened #230 "More detailed text message notifications for volunteers"
User Story:

As a volunteer, I need more detailed information in the shift notification text messages so that I don't have to log into the app to view essential shift information.

Acceptance Criteria:

- [ ] The text message includes the name of the office associated with the request

- [ ] The text message includes the age ranges and number of children in the request

- [ ] The text message incl

[2019-07-17 22:12] sarahwicks commented on #230
@nvick @benjaminwood @kyleboe Please estimate dev effort, thanks!

[2019-07-18 18:24] #220 closed

[2019-08-07 02:47] nvick opened #236 "Need Deletion/Creation Issue"
We have been having trouble with the app. Many of my volunteers are still not getting the text, and this morning I sent out a request and then needed to change the time for going in, and it wouldn't let me edit the request.

**I deleted it and created a new request and both of those ended up deleted. Tried to create another one and it's not showing up for anyone. I need a request from 12:00 to 5:0

[2019-08-07 02:53] nvick opened #237 "Shift Editing/Deleting"
I attempted to edit a need in the app today and when I was trying to delete a shift I got this message:

![image](https://user-images.githubusercontent.com/327614/62591227-c82b0580-b883-11e9-9457-dcfc5acc00f8.png)

[2019-08-07 03:19] benjaminwood commented on #237
@sarahwicks, @SarahOMD, @DarcyBlank

Are you able to reproduce this? Is it possible that the shift was already deleted by someone else when the effected user clicked 'delete'? If so, this is the message they should receive (expected as the shift no longer exists).

As-is, this bug report is not very actionable for us to investigate assuming deleting shifts is not generally broken for all users (wh

[2019-08-07 03:23] benjaminwood commented on #236
@sarahwicks, @SarahOMD, @DarcyBlank

Can you provide phone numbers of affected users, please? Also, please provide specific examples of notifications they did not receive.

As @nvick mentioned via email, it sounds like this user does not know how to add or remove shifts from an existing need. Did you communicate with this user/help them through the issue they were having?

Can you please provide s

[2019-08-07 23:53] nvick commented on #236
On the phone numbers, please email those instead of posting them here in the issue.

[2019-09-18 23:43] dinjas commented on #85
@benjaminwood - I think we can remove the guard clause now and then close this out?

[2019-09-19 22:25] benjaminwood commented on #85
Yeah, I think we need to clean up some production data, too.

[2019-10-11 21:52] dinjas opened #245 "Users omitted from notifications"
@nvick and I discovered a bug today that surfaces in the following scenario:

1. A need is created without a preferred language specified (`preferredlanguage` is `nil` _in the database_)
2. A user that would normally be notified of the need has both a first language and a second language specified in their user profile

The user would not be sent a notification in this case.

---

Here's a quick r

[2019-10-13 21:24] martinjaimem commented on #245
Hello there, it is my understanding that the fix would be to change the method used to filter the users to not filter out users with `NullLanguage.new` preferred language. If thats the case (which means I understood what should be done here) then I would like to fix this! 😄

[2019-10-14 17:48] benjaminwood commented on #245
Hi @martinjaimem, thanks! The bug is actually due to #190, as noted at the end of the issue. Once that is resolved, this bug will be fixed as well. I'll add some spec to that issue and you can tackle it if you like, closing both issues!

[2019-10-14 18:18] benjaminwood commented on #190
@martinjaimem as noted on #245, here's what I believe needs to be done here:

1. Make `Need#preferred_language` `optional: false` here:

https://github.com/OfficeMomsandDads/scheduler/blob/7670fb43434a70376abf775a11af69afe7e7617c/app/models/need.rb#L9-L11

2. Write a migration for all existing `Need`'s where `preferred_language_id` is null, setting it to English (lookup the English language to ass

[2019-10-19 15:56] #183 closed

[2019-10-30 17:16] FatherofDharma commented on #190
These changes have all been made, submitted, and merged. They probably need a final looking over before the issue is closed. Just as a side note, this may also mean looking back at issue #245, to see the impact from these changes.

[2019-10-30 17:21] FatherofDharma commented on #245
The changes to #190 have been submitted and merged. Once they get a final looking over, this issue may also be resolved.

[2019-11-06 16:38] #190 closed

[2019-11-06 20:51] SarahOMD opened #285 "Error Message when accessing Admin tab"
Hi guys, we're getting an error message when trying to access the Admin feature of the site.  I've attached a screenshot.
![59476388923__672E4B11-9DCA-4C6A-964D-5ECF1A13F9E9](https://user-images.githubusercontent.com/43186440/68336782-f6db9680-0093-11ea-8e96-72df320b4888.jpeg)

[2019-11-06 20:57] nvick commented on #285
@SarahOMD thanks for reporting the issue. We are pushing a fix as I type.

[2019-11-06 21:01] nvick commented on #285
This fix is now in production

[2019-11-06 21:01] #285 closed

[2019-11-06 21:11] SarahOMD commented on #285
Thanks!!

--
The information contained in this E-mail may be confidential and/or
proprietary to Office Moms& Dads and/or its affiliates. The information
transmitted herewith is intended only for use by the individual or entity
to which it is addressed. If the reader of this message is not the intended 
recipient, you are hereby notified that any review, retransmission,
dissemination, distribution,

[2019-11-11 19:08] FatherofDharma opened #313 "Error when updating verified user without a phone number"
Found at app-staging:

This issue appears to be related to verified accounts that have signed in. If you attempt to update without a phone number, it appears to render the new user form instead of the edit user form. You then have to go back to the user list and attempt to edit again.

This error appears to not get thrown if you edit a user without a phone number, if they haven't signed in success

[2019-11-11 19:25] FatherofDharma commented on #313
Verifed with another user:

![image](https://user-images.githubusercontent.com/49597814/68614559-fec17f00-0475-11ea-8923-5b90b4866a4a.png)

[2019-11-11 20:17] FatherofDharma commented on #313
For the sake of thoroughness, I verified the issue running locally and while changing an email instead of phone.

![image](https://user-images.githubusercontent.com/49597814/68618001-426bb700-047d-11ea-8fcc-db6330b6a7fc.png)

[2019-11-11 22:21] mikearino commented on #209
@sarahwicks Have you decided how much older the person caring for a child between the age of 13-17 needs to be yet?

[2019-11-12 21:37] joelmichael commented on #212
@sarahwicks Hello Sarah, I am working on implementing this feature, and I was wondering about the last requirement you listed. Are we sure that people who've opted out are going to want to be notified of new shifts? I also noticed this requirement isn't listed in the first text message variant of the implementation.

[2019-11-12 21:52] joelmichael commented on #212
An additional question related to that is, if a volunteer opts out, and then the shift is extended, should the volunteer still show up in the list of users who responded as opted out, even though they can be notified and possibly accept a new shift?

Optionally, if you'd like to jump on a call with @nvick and myself then we can discuss some solutions.

[2019-11-12 22:52] SarahOMD commented on #212
Hi Joel, let’s do a phone call!  It’s been a while, and I don’t think I’ve met you yet :-). Or I can stop by the shop…. I live in the neighborhood.  When would be a good time?

Thanks

Sarah Desjarlais
Executive Director

www.officemomsanddads.com <http://www.officemomsanddads.com/>360-771-9358

The information contained in this E-mail may be confidential and/or proprietary to Office Moms & Dads a

[2019-11-16 15:33] nvick opened #328 "Replace Selectize"
selectize.js is looking for maintainers, so maintenance has been slow. It has a dependency on csv-parse which is our only security issue https://github.com/OfficeMomsandDads/scheduler/network/alert/yarn.lock/csv-parse/open.

Possible replacement option is https://github.com/JedWatson/react-select

[2019-11-26 19:20] benjaminwood commented on #313
@FatherofDharma I see you moved this to "done" in the roadmap board. Is this issue not relevant in active admin? Or?

[2019-11-26 19:25] #212 closed

[2019-12-03 16:46] joelmichael commented on #193
Earlier in video chat we discussed an interval of three hours, but this could easily get pretty annoying to the point it would force them to opt out (especially at night or in the early morning). Maybe once a day in the late morning or afternoon would be a little less aggressive?

[2019-12-04 00:54] benjaminwood commented on #313
@FatherofDharma I'm closing this now, but please let me know if you believe there is still a problem here.

[2019-12-04 00:54] #313 closed

[2019-12-04 16:48] joelmichael commented on #123
Just to clarify, we want to be able to edit and permanently alter contact information for social workers from the Edit Need view? And by contact information do we specifically mean phone number, or email address, or both?

[2019-12-04 17:05] nvick commented on #123
It has been long enough; I don't have a clear picture of what I meant by editable. I believe what we want is the ability to re-assign a Need to a different social worker after it was created. The contact info, in this case, is phone number.

[2019-12-04 17:35] FatherofDharma commented on #313
@benjaminwood I apologize for not having seen this notification sooner. I believe the issue is resolved and will also be irrelevant if and when the active admin changes go through. Again, my apologies for the delay.

[2019-12-06 17:59] joelmichael commented on #200
Should a phone number be verified after it's updated?

[2019-12-06 18:00] benjaminwood commented on #200
Yes!

[2019-12-06 18:00] joelmichael commented on #200
I assume we want to actually create a user record but just flag it as unverified. Which might require adding a scope to only select verified users throughout the code, possibly a default scope.

[2019-12-06 18:03] joelmichael commented on #200
It also seems reasonable to me that if a phone number is updated, a user would lose its verified status until the new number is verified. Also I guess a default scope wouldn't be a good idea since all current accounts are going to start out unverified.

[2019-12-06 18:04] joelmichael commented on #200
Should we grandfather in all current accounts as if they were verified? Or should we actually attempt to verify all of them

[2019-12-06 18:07] benjaminwood commented on #200
Yeah, good point regarding the migration of existing users. Technically, the 'account' (`User`) is created when an invite is sent. The phone number verification step should come after the user accepts the invite and fills out the rest of their details.

So, if a user is signed in but has not verified their phone number, we should *always* redirect them to the phone number verification screen.

As

[2019-12-06 18:11] joelmichael commented on #200
Alright, for now we'll leave off scoping only verified accounts anywhere, and just focus on collecting verifications. Then later we can add those scopes to appropriate places, until eventually all active users will be required to be verified, and maybe then it can be made into a default scope.

[2019-12-06 18:17] nvick commented on #200
What if we did a rake task to validate numbers with Twilio for all current users? If we are sending SMS without issue to current then the number should not need to go through verification.

We do have social workers and some volunteers that have put in an invalid number that should be forced to verify on the next login.

[2019-12-06 18:48] joelmichael commented on #200
Can Twilio validate the phone numbers without actually sending an SMS? I'm a bit hesitant to send an unsolicited SMS to every user just to validate they received it. A more gradual collection of verifications might be preferable from their perspective

[2019-12-06 18:55] benjaminwood commented on #200
Yeah, I too assumed we were talking about SMS verification where you enter the code you receive.

@nvick were you talking about verification where the user is not involved?

[2019-12-06 19:00] nvick commented on #200
Let's do a short call to talk it out.

[2019-12-06 21:57] benjaminwood commented on #123
From our call with Sarah:

Let's allow selecting one or more Child Welfare Workers. Also note the name change Social Worker -> Child Welfare Worker.

[2019-12-09 17:45] #328 closed

[2019-12-09 17:50] nvick opened #341 "Include Volunteer Coordinator in Need communication"
Volunteer Coordinators would like to be included in new need, shift assigned, and shift unassigned notifications.

This seems to be a duplicate of #189

[2019-12-10 16:44] nvick opened #346 "Allow User Account Deactivation/Deletion"
Currently, if a user has been associated with a Need or Shift, their account cannot be removed from the system.

[2019-12-11 22:34] #123 closed

[2019-12-11 22:34] #193 closed

[2019-12-12 17:03] #200 closed

[2019-12-12 17:10] benjaminwood commented on #192
I think it'd be confusing for the scheduling/Blockout calendar to be used for two distinct functions. Additionally, it wouldn't be easy to accomplish because the blockout UI is built with javascript and the needs UI is not.

I propose that we add a date picker (input field) above the needs table, aligned to the right of the "Needs" header. It'd only be shown to admins, allowing them to choose any

[2019-12-13 22:44] SarahOMD commented on #192
Sounds good to me!

Thanks,

Sarah Desjarlais
Executive Director

www.officemomsanddads.com
360-771-9358

The information contained in this E-mail may be confidential and/or proprietary to Office Moms & Dads and/or its affiliates. The information transmitted herewith is intended only for use by the individual or entity to which it is addressed. If the reader of this message is not the intended rec

[2019-12-19 19:51] benjaminwood opened #362 "Twilio account is suspended?"
I received the following email from Twilio with regards to the OMD Twilio account.

Did anyone else receive this? I checked the account and on one screen is shows a negative credit balance. On another, it shows a positive credit balance. Possibly a bug?

Another client of Hint's received a similar email and is in the same situation, so it might be a wide spread problem that Twilio is having.

The

[2019-12-19 19:52] nvick commented on #362
It was a mistake on Twilio’s part. There were a number of NPOs effected.

[2019-12-19 19:53] benjaminwood commented on #362
Oh great. Did they make an announcement?

[2019-12-19 19:54] nvick commented on #362
No, I opened a support ticket when I received this morning.

[2019-12-19 19:55] benjaminwood commented on #362
Oh, okay. I'll close this.

[2019-12-19 19:55] #362 closed

[2019-12-23 20:49] benjaminwood opened #367 "Edit profile / password"
While testing #365 I noticed that we ask the user to enter a password when updating their profile. When they do, I got an error saying that 'current password' is required but there is no field for it in the form. However, the profile fields I had changed were updated. :man_shrugging:

Anyways, I think we should have a separate password change action that requires the current password to be entered

[2019-12-23 23:12] joelmichael commented on #367
This problem is actually caused by the old seed data. I fixed it in https://github.com/OfficeMomsandDads/scheduler/pull/358. If you re-plant your seed data, your default admin account should be set up properly to avoid this issue.

[2019-12-23 23:58] benjaminwood commented on #367
Which problem specifically? Doesn't the profile edit form still include a password field that is required?

[2019-12-24 00:00] joelmichael commented on #367
Yes, the current password is required, and we could see about changing that. The problem solved by that PR is that the admin user didn't have it marked that they had accepted the invitation, and that's why the current password field wasn't showing up, so it was impossible to edit the profile of the default account.

[2019-12-24 00:03] benjaminwood commented on #367
Oh, I see! Great, thanks for fixin' that part (already!)

[2020-01-02 17:42] benjaminwood opened #374 "Bug report from Darcy"
Darcy Blankenship reports:

Not a lot of info to go on here, but let's investigate what recent changes might cause a newly created need to disappear from the list.

[2020-01-02 19:04] joelmichael commented on #374
I was able to create a need in my dev environment, and it did show up in the list. However I have a theory that they might be using the new date filter on accident, thus filtering the new needs from the list. I'd be happy to talk to the bug reporter about it, or if they want to provide steps to reproduce then that will be good too.

[2020-02-07 19:52] joelmichael commented on #192
@benjaminwood I think we already completed this one, how do we resolve it? Do we just close the issue?

[2020-02-07 19:59] joelmichael commented on #189
@benjaminwood I think we've already completed this one, too.

[2020-02-07 23:13] benjaminwood commented on #189
Yep!

[2020-02-07 23:13] #189 closed

[2020-02-07 23:13] benjaminwood commented on #192
Yes, it's done!

[2020-02-07 23:13] #192 closed

[2020-02-11 03:35] DarcyBlank opened #399 "Qualify Need for 13-17 age group"
As a Social Worker or Volunteer Coordinator creating a new need, I need to verify that a child aged 13-17 meets the requirements to receive OMD care.

When a new need indicates a child age 13-17, a dropdown box should appear with the following questions and associated yes/no checkboxes:

- Is the child under a DCYF supervision plan?
- Is the child designated as physically or sexually aggressive?
-

[2020-02-18 18:23] zachhweed commented on #346
I'd gladly take this on. Are you all looking to allow for soft-deletion as well?

[2020-02-18 18:38] benjaminwood commented on #346
Hi @zachhweed, great! Let's start with deactivation, which should prevent the user from logging in or receiving new sms notifications. It'd also be nice to indicate which users are deactivated in the admin interface!

[2020-02-25 18:44] benjaminwood opened #409 "Add date range to reports"
Currently, reporting returns information for 'all time'. We need to be able to set a start & end date range where applicable.

[2020-02-25 18:44] benjaminwood opened #410 "Change all reports from minutes -> hours"
Some reports show time in minutes, it should display hours.

[2020-02-25 18:44] benjaminwood opened #411 "Default time to empty in need creation form"
Currently, the date/time picker inserts the current time, which allows the user to submit the need form without choosing an explicit time. This has lead to erroneous need creations that end up being deleted and recreated, triggering extra volunteer notifications.

If the time is empty, the user should receive a validation error.

[2020-02-25 19:43] benjaminwood commented on #346
@zachhweed are you still interested in working on this? Let me know if I can help.

[2020-02-25 19:49] benjaminwood commented on #374
No further reports of this issue, closing it now.

[2020-02-25 19:49] #374 closed

[2020-02-25 19:49] benjaminwood commented on #237
Haven't had further reports of this, closing.

[2020-02-25 19:49] #237 closed

[2020-02-25 19:50] benjaminwood commented on #236
No response, closing.

[2020-02-25 19:50] #236 closed

[2020-02-25 21:47] zachhweed commented on #346
@benjaminwood yes, I definitely am! I stepped away following some env issues but just got those squared away. I'll have this out asap.

[2020-02-25 21:51] benjaminwood commented on #346
Cool! Happy to collaborate if you run into anything else. Lemme know.

[2020-02-28 22:19] dinjas commented on #187
Is this one done?

[2020-02-28 22:47] dinjas commented on #227
Is this one done?

[2020-02-28 22:52] dinjas commented on #54
Can this one be closed?

[2020-02-28 22:52] dinjas commented on #170
Can this one be closed?

[2020-02-28 22:53] dinjas commented on #341
@nvick is this one done then? #189 appears to be done.

[2020-02-28 22:54] dinjas commented on #215
@benjaminwood is this one done?

[2020-02-28 23:02] benjaminwood commented on #187
Yes, I believe it is. Thanks!

[2020-02-28 23:02] #187 closed

[2020-02-28 23:02] benjaminwood commented on #227
Yep!

[2020-02-28 23:02] #227 closed

[2020-02-28 23:02] benjaminwood commented on #215
Yep, I'd say so!

[2020-02-28 23:02] #215 closed

[2020-02-28 23:03] benjaminwood commented on #54
Yes, it'd done!

[2020-02-28 23:03] #54 closed

[2020-02-28 23:03] benjaminwood commented on #170
Yes, I believe it is working in active admin.

[2020-02-28 23:03] #170 closed

[2020-02-28 23:04] benjaminwood commented on #341
Yep, closing!

[2020-02-28 23:04] #341 closed

[2020-03-13 18:09] #411 closed

[2020-03-13 18:29] joelmichael commented on #228
The only way I can think to do this would be to create a new record representing the household that is served, which could then be re-used when creating new needs. As-is, there is no connection between needs and unique households.

[2020-03-16 23:46] rogeralexmiller commented on #409
Hi @benjaminwood, I'm interested in helping out with this project and am looking for a good first issue to work on. Based on this issue description, I'm assuming you're referring to the `/admin/reports` page, which is generated by the `app/admin/reports.rb` file. Is that correct? If so, would the scope of this issue involve just adding the back-end capability for these reports to get filtered by d

[2020-03-16 23:59] benjaminwood commented on #409
Hi @rogeralexmiller, great! We'd love your help. How'd you find this project?

Sorry this issue isn't spec'd out better. Your assessments are correct, that is the right file & route. Ideally, this issue would encompass both the backend and front end. Though, if you start with the backend and want somebody else to take the front end, I'm sure we could work that out!

Let me know if you have any oth

[2020-03-20 20:23] joelmichael commented on #410
Completed

[2020-03-20 20:23] #410 closed

[2020-03-20 20:27] joelmichael commented on #228
Since we want it to be anonymous, I can't really think of a solution. The way to readily identify a household would be via some personal data, such as a name or street address.

[2020-03-23 14:58] rogeralexmiller commented on #409
@benjaminwood: sorry for delay on response. I found this project through a ruby meetup in Portland. I was asking the meetup founder Jonan about volunteer programming projects and he introduced me to Jason Dinsmore, who said this project might need some extra hands.

I've got a day job, but I'm gonna try to dive in and do some work after hours or on weekends.

I've been able to setup my environment

[2020-03-23 21:02] benjaminwood commented on #409
@rogeralexmiller awesome! Glad to hear it.

Hmm, that's a good point about the development key not being accessible to all. We'll work on a solution for that asap, thanks for pointing it out.

[2020-03-23 23:31] benjaminwood commented on #409
@rogeralexmiller turns out the bit about the `.env` in 1Password can be disregarded. You should be able to run the app in development & test with we the default values in `env-example`. We've updated the readme to remove the reference to 1Password.

[2020-03-25 21:47] benjaminwood opened #440 "Allow admins to disable need creation with notice"
Sarah writes via email:

[2020-03-26 03:42] #440 closed

[2020-05-21 21:13] benjaminwood opened #468 "Allow admins to msg all volunteers at once"
@SarahOMD wrote via email:

[2020-05-22 18:03] dinjas commented on #468
- [ ] Create Announcement model
  - message (string, not null)
  - author_id (integer, not null, fk on User table)
  - user_ids (bigint [], not null)
  - timestamps
- [ ] Add Rails validations to model
- [ ] Add method to model to send announcement
- [ ] Add spec(s) for model
- [ ] Add AnnouncementPolicy (for pundit)
- [ ] Add AnnouncementsController
  - [ ] Index
  - [ ] New
  - [ ] Create
  - [

[2020-05-27 02:34] dinjas opened #474 "[OMD Scheduler/production] NameError: uninitialized constant User::Annoucement"
## Backtrace

    line 62 of [PROJECT_ROOT]/app/controllers/application_controller.rb: set_time_zone

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/64158974)

[2020-05-27 02:37] dinjas commented on #474
Suspect this error was caused by the typo in the following association declaration: https://github.com/OfficeMomsandDads/scheduler/blob/master/app/models/user.rb#L37

[2020-05-27 23:37] dinjas commented on #474
Should be fixed. I resolved the error on Honeybadger.

[2020-05-27 23:37] #474 closed

[2020-06-05 15:10] #468 closed

[2020-06-15 17:56] #346 closed

[2020-08-13 23:18] #225 closed

[2020-08-13 23:18] #226 closed

[2020-08-13 23:18] #409 closed

[2020-08-13 23:21] nshoes opened #513 "Display user's first and last name in Volunteer Hours by User report"
As a follow up to #506 and per Sarah's request, it would be useful if the "Volunteer Hours by User" report had separate columns for first and last name.

[2020-08-26 19:44] benjaminwood opened #525 "Migrate CircleCI -> Github Actions"
The test suite runs on CircleCI right now, but we'd like to switch to Github Actions.

[2020-08-27 00:00] benjaminwood opened #527 "Unavailable & pending list toggle broken with turbolinks"
We need to ensure that jquery event handlers are loaded & unloaded properly on trubolink navigation events.

My preference would be to turn this into a stimulus controller and not use jquery at all (event handler loading & unloading will happen automatically)

https://github.com/OfficeMomsandDads/scheduler/blob/eac2b4e966fc4a2779f7ab5aabf70f087a864d0f/app/javascript/src/responses.js#L1-L11

[2020-08-27 16:15] #527 closed

[2020-10-28 21:00] #224 closed

[2020-10-28 21:03] #513 closed

[2020-11-06 18:13] benjaminwood opened #552 "[OMD Scheduler/production] NoMethodError: undefined method `midnight' for nil:NilClass"
## Backtrace

[code]
    line 90 of [PROJECT_ROOT]/app/models/need.rb: intentional_start_at
    line 41 of [PROJECT_ROOT]/app/controllers/needs_controller.rb: create
    line 62 of [PROJECT_ROOT]/app/controllers/application_controller.rb: set_time_zone

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/69611563)

[2020-11-06 19:46] #552 closed, assigned to nobody

[2020-11-06 20:11] #175 closed

[2020-11-06 21:59] #367 closed

[2020-12-04 20:11] dinjas commented on #216
@DarcyBlank - I am going to go ahead and close this issue. Feel free to make another if you feel there is something that needs to be changed. Thanks!

[2020-12-04 20:11] #216 closed

[2020-12-17 19:08] nvick opened #570 "Exit Survey"
As OMD leadership, I want volunteers to be sent a link to a short exit survey 30 minutes after finishing a shift so that we can improve our systems and collect general data for reporting.

Acceptance Criteria:
- [ ] Creates an exit survey with a unique link/token
- [ ] Sends a message with a link to a volunteer's notification preference 30 minutes after completing all accepted shifts for a need
-

[2021-01-22 23:52] kyleboe opened #577 "On Need Creation, Duplicate Join Record on Social Workers"
Something causes the join record between needs and social workers to be inserted twice when a need is first created. Any updates after the fact will de-dup the join record.

[2021-04-02 15:23] nvick opened #611 "Upgrade to Redis 6"
Heroku is sunsetting Redis version 5 at the end of June, so we need to upgrade to their current version which is 6.

- [ ] Upgrade Docker Dev Env
- [ ] Upgrade Staging
- [ ] Upgrade Production

[2021-04-23 17:47] nvick opened #627 "Preferred Language Override"
Currently, when a child's preferred language is chosen for a need a scope is added to limit the available volunteers who have that as a language. This limits the number of available volunteers to as low as no available volunteers. The OMD staff would like to solve this so the preferred language can still be chosen for reporting sake but give the need creator the ability to override the scope of th

[2021-04-23 20:00] nvick opened #629 "Upgrade Sidekiq"
Sidekiq is a major version behind.

https://github.com/mperham/sidekiq/blob/master/6.0-Upgrade.md

[2021-10-25 21:10] benjaminwood opened #708 "[OMD Scheduler/production] NoMethodError: undefined method `covid_19_vaccinated' for nil:NilClass"
## Backtrace

    line 8 of [PROJECT_ROOT]/app/views/devise/registrations/vaccination_status.html.haml: _app_views_devise_registrations_vaccination_status_html_haml___622518527087959111_36460

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/82210267)

[2021-10-29 17:02] krishops opened #714 "Date/Time changes not updated in Need details"
When editing a need's Start Date/Time, the change is not reflected on the Need Details page. All other changes are shown.

[2021-11-01 16:26] #714 closed

[2021-11-01 16:52] benjaminwood commented on #570
@cidsinga I recall we had a meeting with Sarah where she provided details about the form itself. Do you have notes on that?  If so, could you share them here?

[2021-11-01 17:26] cidsinga commented on #570
Sarah was going to get back to us with the actual questions etc for the exit survey, but never did, and I didn’t get far enough along to need to ask for them. So I don’t think the questions have ever been created.

Casey

Sent from my iPhone

[2021-11-05 17:24] benjaminwood commented on #570
From Sarah via email:

[2021-11-19 21:25] #627 closed

[2022-02-12 03:32] #180 closed

[2022-02-15 19:13] #570 closed

[2022-02-15 20:21] #210 closed

[2022-06-06 17:54] benjaminwood opened #806 "Bug in sidekiq-cron configuration"
Post-shift survey emails are not being sent (implemented in #718).

Upon review, I found an error in our sidekiq cron configuration:

https://github.com/fosterful/scheduler/blob/abc31a7903ef659ab628f74da68a008a8c9d0af9/config/initializers/sidekiq.rb#L12-L24

I believe the (incorrect) assumption was that `Sidekiq::Cron::Job.find` would return `nil` if a matching cron job is not found. This is not t

[2022-06-06 18:33] #708 closed, assigned to nobody

[2022-06-06 18:37] creaturenex commented on #177
Issue closed as this is a duplicate of issue #570 which was closed out with PR #718

[2022-06-06 18:37] #177 closed

[2022-06-06 18:52] creaturenex commented on #629
Issue closed per PR #746.

[2022-06-06 18:52] #629 closed

[2022-06-06 19:47] benjaminwood opened #807 "Testing 123"

[2022-06-06 19:50] #807 closed

[2022-06-06 19:54] benjaminwood opened #808 "Update favicon to fosterful logo"
Currently, the OMD logo is shown as the favicon for the app.

![Image](https://user-images.githubusercontent.com/1232531/172237841-f475fe31-c9d0-42bf-829a-a0f51e7b673f.png)

We'd like to change this to use the Fosterful icon.

[2022-06-06 20:18] creaturenex commented on #806
Are only the shift survey being impacted or are the Reminders crons also impacted? Looks like the same logic is applied.

[2022-06-06 20:24] benjaminwood opened #809 "Remove need updated notification"
It has been determined that the need update notification is not useful and should be removed entirely.

This is where the notification is sent - we'll need to remove this line.
https://github.com/fosterful/scheduler/blob/8835bdcb07621493165fdd6fbc1a68abbd779bde/app/controllers/needs_controller.rb#L63

And these lines:

https://github.com/fosterful/scheduler/blob/8835bdcb07621493165fdd6fbc1a68abbd7

[2022-06-06 20:31] benjaminwood commented on #806
Yeah, I believe both would be impacted by this misconfiguration but for some reason (perhaps manual intervention) the reminders cron is installed/working in production. Let's change both to use `load_from_array!`, though.

[2022-06-06 20:37] benjaminwood opened #810 "Improve non-admin users section"

[2022-06-06 20:43] #171 closed

[2022-06-07 15:36] nvick opened #813 "Upgrade to Latest Ruby 2.7 Patch"
Update the app to the latest Ruby 2.7 patch version to keep the app under security support.

[2022-06-07 15:37] nvick opened #814 "Upgrade to Rails 7"

[2022-06-07 15:38] nvick opened #815 "Upgrade to Ruby 3"

[2022-06-07 19:19] creaturenex commented on #525
Reference for migration https://docs.github.com/en/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions

[2022-06-07 19:38] creaturenex opened #816 "Create Staging Credentials and add Staging to config/webpacker.yml"
When trying to create an account in staging area, the app throws an error when trying to verify the users' mobile number. It was noticed that the app is referencing verify_SID, in addition there is no credentials file for staging.

In addition we should update config/webpacker.yml to reference environments/staging to ensure Heroku doesn't generate additional notifications or errors.

[2022-06-07 19:53] creaturenex opened #817 "Create a feature to verify numbers with Twilio, without exceeding limit in all env except production."
Twilio does not offer a free testing sandbox as a result users pay for every message sent over the network. We need to either limit the message being sent or somehow mock a valid message response. This would apply in all env except production.

See post for ideas
https://www.twilio.com/blog/test-verify-no-rate-limits

[2022-06-08 00:50] creaturenex commented on #810
![Screenshot from 2022-06-07 20-48-53](https://user-images.githubusercontent.com/15052690/172508058-8bdad7a2-d592-4331-97f8-e84ce7b0e6fc.png)

Please see proposal will need some help implementing this.

[2022-06-08 16:12] benjaminwood commented on #39
I'm going to close this. It's not a high-value target because the code literally has not been touched since it was implemented.

[2022-06-08 16:12] #39 closed

[2022-06-08 16:31] creaturenex commented on #813
This would be 2.7.6?

[2022-06-08 17:39] #181 closed

[2022-06-08 18:57] #809 closed

[2022-06-08 18:58] #806 closed

[2022-06-08 19:07] benjaminwood commented on #17
Determined no longer a priority.

[2022-06-08 19:16] #173 closed

[2022-06-08 19:16] #172 closed

[2022-06-08 19:17] #40 closed

[2022-06-08 19:28] creaturenex commented on #179
On backlog to determine better verbage.

[2022-06-08 19:28] #179 closed

[2022-06-08 19:34] #230 closed

[2022-06-08 19:36] #209 closed

[2022-06-08 19:38] #218 closed

[2022-06-08 19:39] #228 closed

[2022-06-08 19:44] creaturenex commented on #229
@benjaminwood followup

[2022-06-08 20:19] creaturenex commented on #808
under javascript

[2022-06-08 20:41] creaturenex opened #819 "Sandbox / Demo environment"
Create Demo environment for training purposes
- Clone the Staging ENV to Heroku called Demo
    - Seed data
      - demo office
      - admin - Sarah and Sarah_C
      - user:social worker
      - user:volunteer
      - user:volunteer coordinator
      - What other data?

- Show how message and text message will look like when sent

[2022-06-08 21:56] benjaminwood commented on #229
I'm going to go ahead and open a new issue for this with updated criteria

[2022-06-08 21:56] #229 closed

[2022-06-08 22:06] benjaminwood commented on #186
Just noting that we prioritized this issue today, without reading the discussion thread. I think the questions/concerns I shared back in 2019 still stand. Let's discuss with @SarahOMD before moving this forward.

[2022-06-08 22:24] #808 closed

[2022-06-09 14:05] creaturenex opened #823 "Update CodeClimate Test Report ID to current version."

[2022-06-09 14:14] #823 closed

[2022-06-09 22:50] creaturenex opened #825 "create ENV variable for staging and demo and deploy to Heroku config var"
link #819

[2022-06-09 23:17] creaturenex commented on #819
- [ ] Update DNS
- [ ] Add new Config Vars to Heroku

[2022-06-09 23:49] #819 closed

[2022-06-10 17:01] creaturenex opened #827 "Bug to correct User validation error message in model"
This [Commit](https://github.com/fosterful/scheduler/commit/a64a161a21005038b94cb0c5ffa1c20d8b910673#diff-9802ca3c9c4cf89904fd44bc114e35ebdf2c5dd3d5b645491e2b253e1afef29bR91) rendered the message in the wrong format. Issue was found when trying to create new user in the console.

[2022-06-10 17:58] #813 closed

[2022-06-10 18:11] #827 closed

[2022-06-10 20:03] #825 closed

[2022-06-10 20:21] creaturenex opened #830 "As an admin or VC, view history of needs"

[2022-06-10 20:45] creaturenex opened #831 "Update to Heroku-20 in Production and Staging"

[2022-06-10 20:48] creaturenex commented on #816
- [ ] test ../send-code
- [ ] test ../check-code

[2022-06-13 20:32] creaturenex opened #832 "Fix date range picker end date from flexing below start, preventing view."
![Screenshot from 2022-06-13 16-32-05](https://user-images.githubusercontent.com/15052690/173440186-b6c4c2a5-7134-4298-ad80-19684bd54475.png)

[2022-06-13 22:46] creaturenex commented on #174
![Screenshot from 2022-06-13 18-45-50](https://user-images.githubusercontent.com/15052690/173459838-51956ccc-c6b2-46b8-a8f2-ede17c231bc5.png)

[2022-06-15 14:48] creaturenex opened #833 "Fix shift survery, made sure user referenced is the correct role."

[2022-06-15 14:50] creaturenex commented on #833
![shift survey](https://user-images.githubusercontent.com/15052690/173857337-b102b9f7-9404-4640-b4ea-4883a7927d74.jpg)

[2022-06-15 14:53] creaturenex opened #834 "Feature shift survey - add volunteer , social worker and office to shift details"
To the right side of survey result.

[2022-06-15 17:33] creaturenex commented on #832
Hello! Awesome, this is happening in the dashboard/reports.html.haml view. Specifically the react component. Please let me know if you have any questions.

[2022-06-16 16:13] creaturenex commented on #174
Issue to solve pertaining this feature
- Date Picker
  - [ ] Flash warning please enter dates when pressing save to prevent error when saving
  - [ ] change button to submit
  - [ ] Fix date box to look available, currently greyed out but it works
- Tables
  - [ ] Group by roles then sort

[2022-06-16 16:15] creaturenex commented on #174
![Screenshot from 2022-06-16 12-13-44](https://user-images.githubusercontent.com/15052690/174117326-d19ff7f2-6950-4699-b7d9-1d2145936422.png)

[2022-06-21 23:00] creaturenex commented on #174
See this issue regarding grey background for flatpickr.
[grey input field](https://github.com/flatpickr/flatpickr/issues/1456)

[2022-06-22 14:39] creaturenex commented on #830
We reviewed the site and found that there is a function that allows us to find the needs history for a particular date. Right now this feature is only available to admins.
- [ ] Update need history privilege on index page to volunteer coordinator and social workers

[2022-06-23 19:12] creaturenex commented on #832
Hmm are you using vscode by any chance? I know vscode can build/run the container within, but it requires docker to have sudo privileges. Haven't really tried it without it so not sure what can cause the issue besides a misconfiguration. Let me see if I can find you some help. @benjaminwood @nvick Any ideas?

[2022-06-23 19:54] nvick commented on #832
Hey @cidsinga! Have you pulled the latest version of master? If so, I would do `docker-compose down`, open the VSCode Command Palette, and run Reopen in Container. If that doesn't work, I'd be glad to pair up for a few to get it going.

[2022-06-23 20:10] cidsinga commented on #832
@nvick Heyo! I have pulled from master. I was attempting to run my container from iTerm.  I've pruned and tried starting fresh. I'll see if I have any more success or hints by doing it in VSCode. I'll try that shortly, and hit you up for a pair if I'm without success. It'd be great just to say hi regardless!

[2022-06-23 20:15] creaturenex commented on #832
Thanks @nvick

[2022-06-23 20:23] nvick commented on #832
For sure!

[2022-06-23 22:28] nvick commented on #832
@cidsinga shoot me an email with some times that would work for you.

[2022-06-24 16:48] creaturenex commented on #174
Test for
- [ ] Service::DashboardQuery Object
- [ ] Dashboard Controller - new test
- [ ] Form View
- [ ] Form Controller possible

[2022-06-27 15:48] creaturenex commented on #832
Issue resolved by PR #838 and merged. Thanks for the help @cidsinga. Hope to see you around more often :)

[2022-06-27 15:49] #832 closed

[2022-06-27 18:16] creaturenex opened #840 "As an admin/coordinator/social worker select a data range to view a history of needs"

[2022-06-27 18:19] creaturenex opened #841 "Feature - rework reports dashboard to be more interactive and have the option to download reports if needed, instead of relying on excel to view data."

[2022-06-28 19:39] #830 closed

[2022-06-28 20:59] creaturenex commented on #174
Based on last discussion, view should be handled in card format.
![Screenshot from 2022-06-28 16-58-34](https://user-images.githubusercontent.com/15052690/176286733-15591636-7f2c-4f36-95f1-6054582cf971.png)

[2022-07-06 19:30] creaturenex opened #845 "Update Stimulus to current version 3.0.1"

[2022-07-08 14:37] creaturenex opened #847 "VC Leader Dashboard - find a way to incorporate children count correctly."
- [ ] View most common requests by age range of child(ren)

[2022-07-08 14:38] creaturenex commented on #847
- [x] View most common requests by age range of child(ren)

[2022-07-15 21:32] creaturenex commented on #174
Issue resolved by PR #835

[2022-07-15 21:32] #174 closed

[2022-07-18 16:45] creaturenex opened #849 "Remove blockouts completely, as this feature is not used"

[2022-07-21 19:06] benjaminwood opened #851 "[Fosterful Scheduler/production] ActiveRecord::InvalidForeignKey: PG::ForeignKeyViolation: ERROR: update or delete on table "needs" violates foreign key constraint "fk_rails_cf04de6280" on table "shift_surveys" DETAIL: Key (id)=(1836) is still referenced from table "shift_surveys"."
## Backtrace

    line 74 of [PROJECT_ROOT]/app/controllers/needs_controller.rb: destroy
    line 63 of [PROJECT_ROOT]/app/controllers/application_controller.rb: set_time_zone

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/59936/faults/86889108)

[2022-07-21 19:07] benjaminwood commented on #851
We need to determine what the desired behavior is here. Should we allow deleting a need at this stage?

[2022-07-25 20:50] #849 closed

[2022-07-25 21:43] benjaminwood opened #854 "Remove React from project"
Now that [blockouts have been removed from the application](https://github.com/fosterful/scheduler/pull/853), our use of react isn't really justified.

Let's remove react completely in favor of using Stimulus JS where needed (date pickers, etc).

[2022-11-14 23:55] creaturenex commented on #854
Hey @benjaminwood @nvick hope you have been well! I want to tackle this issue and assigned it to myself. I got paired with a mentor at https://firstrubyfriend.org/ and one thing he wanted to me to tackle was cleaner PR's by using git cherry pick. I wanted to know if you have any experience using this command? I had a chance to looking how it works seems pretty explanatory, but not sure how to appl

[2022-11-15 00:19] creaturenex commented on #854
Would it look something like this?
![Untitled Diagram drawio (2)](https://user-images.githubusercontent.com/15052690/201795174-2a00a9e6-9dd1-42c5-8efe-a69fbed8155e.png)

[2022-11-15 16:12] nvick commented on #854
Hi @creaturenex! It is good to hear from you! I have not used that pattern, so it would be great to hear how it works.